.accordion {
    color: $white;
}

.accordion-item {
    margin-bottom: 2px;

    border-radius: 0;
    background   : $blue;
}

.accordion-title {
    margin         : 0;
    padding-right  : 2.5rem;
    text-decoration: none;
    border         : none !important;

    @extend %h6 !optional;

    &:before {
        margin-top: -0.75rem;
        font-size : 1.5rem;
    }
}

.accordion-content,
:last-child > .accordion-content:last-child {
    border: 1px solid $gray-medium;

    @include breakpoint(large) {
        padding: 2rem;
    }
}

a.accordion-title,
a.accordion-title:focus,
a.accordion-title:hover {
    color: $white;
}

.accordion-arrow .accordion-title::before {
    margin     : 0;
    padding    : 0;
    content    : "\e907";
    transform  : rotate(90deg);
    color      : $white !important;
    font-family: "Cognizant-Icons";
    font-size  : inherit;
    font-weight: 600;
    line-height: 0;
}

.accordion-arrow .is-active .accordion-title::before {
    margin     : 0;
    padding    : 0;
    content    : "\e907";
    transform  : rotate(-90deg);
    color      : $white !important;
    font-family: "Cognizant-Icons";
    font-size  : inherit;
    font-weight: 600;
    line-height: 0;
}
/* ==============================  ACCORDION MINIMAL DIVIDER  ============================== */
.accordion-line {
    padding: 0;

    & .accordion-item {
        color     : $blue;
        background: transparent;
    }

    & .accordion-title {
        // line-height: 0;
        // display: inline-block;
        color: $blue;
        // border     : 2px solid $blue !important;
        // padding    : 0.75rem;
    }

    & .accordion-title:before,
    .accordion-title:after {
        position  : absolute;
        top       : 50%;
        width     : 100%;

        content   : "";
        transform : none;
        border-top: 1px solid $gray-medium;
    }

    & .accordion-title:before {
        right       : 100%;
        margin-right: 1rem;
    }

    & .accordion-title:after {
        left       : 100%;
        margin-left: 1rem;
    }

    & .accordion-title:focus {
        color     : $blue;
        background: transparent;
    }
}

/* ====================================================================================

██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
 ██████  ██████   █████  ██████  ██ ███████ ███    ██ ████████
██       ██   ██ ██   ██ ██   ██ ██ ██      ████   ██    ██
██   ███ ██████  ███████ ██   ██ ██ █████   ██ ██  ██    ██
██    ██ ██   ██ ██   ██ ██   ██ ██ ██      ██  ██ ██    ██
 ██████  ██   ██ ██   ██ ██████  ██ ███████ ██   ████    ██
███████ ████████ ███████ ██████  ███████
██         ██    ██      ██   ██ ██
███████    ██    █████   ██████  ███████
     ██    ██    ██      ██           ██
███████    ██    ███████ ██      ███████

==================================================================================== */
/* ==============================  ACCORDION BARS BACKGROUND COLORS  ============================== */
@for $i from 0 through 100 {
    .accordion-gradient-#{$i} {
        background: mix($blue-dark, $blue, $i);
    }
}
/* ==============================  BLUE BACKGROUND COLOR STEPS  ============================== */
@for $i from 0 through 100 {
    .bg-steps-blue-#{$i} {
        background: mix($blue-dark, $blue, $i);

        > a {
            background: none !important;
            box-shadow: none !important;
        }
    }
}
/* ==============================  GREEN BACKGROUND COLOR STEPS  ============================== */
// @for $i from 0 through 100 {
//     .bg-steps-green-#{$i} {
//         background: mix($green-dark, $green, $i);
// 
//         > a {
//             background: none !important;
//             box-shadow: none !important;
//         }
//     }
// }
// -----  End of BACKGROUND GRADIENT STEPS  ---------------------------------------------
