/* ====================================================================================
██████  ██████  ███████  █████  ██████   ██████ ██████  ██    ██ ███    ███ ██████  ███████
██   ██ ██   ██ ██      ██   ██ ███   ██ ██      ██   ██ ██    ██ ████  ████ ██   ██ ██
██████  ██████  █████   ███████ ██   ██ ██      ██████  ██    ██ ██ ████ ██ ██████  ███████
██   ██ ██   ██ ██      ██   ██ ██   ██ ██      ██   ██ ██    ██ ██  ██  ██ ██   ██      ██
██████  ██   ██ ███████ ██   ██ ██████   ██████ ██   ██  ██████  ██      ██ ██████  ███████
==================================================================================== */
.breadcrumbs a:link {
    font-weight: normal;
}
// -----  End of BREADCRUMBS  ---------------------------------------------
