.button {
  &.back:after {
    margin : 0;
    content: "";
  }

  &.back:before {
    margin-right: 0.5rem;
    content     : "\e905";
    color       : $white;
    font-family : "Cognizant-Icons";
    font-weight : 600;
    font-size   : initial;
  }

  &.download:after {
    position   : unset !important;
    right      : unset !important;
    width      : unset !important;
    height     : unset !important;
    margin-top : unset !important;
    margin-left: 0.5rem;
    content    : "\e920" !important;
    background : unset !important;
    font-family: "Cognizant-Icons";
    font-weight: bold;
    font-size  : initial;
  }

  &.video:after {
    position   : unset !important;
    right      : unset !important;
    width      : unset !important;
    height     : unset !important;
    margin-top : unset !important;
    margin-left: 0.5rem;
    content    : "\e94b" !important;
    background : unset !important;
    font-family: "Cognizant-Icons";
    font-weight: bold;
    font-size  : initial;
  }

  &.white {
    color     : $green-dark;
    background: $white;
  }

  &.white:after {
    color: $green-dark;
  }

  &.white:hover {
    background: darken($white, 5%);
  }

  &.disabled {
    background: $black-15;
  }

  &.blue {
    $button-background      : $blue-light;
    $button-background-hover: scale-color($button-background, $lightness: -20%);

    background              : $button-background;

    &:hover {
      background: $button-background-hover;
    }

    &.hollow {
      background  : none;
      color       : $button-background;
      border-color: $button-background;

      &:hover {
        background  : none;
        color       : $button-background-hover;
        border-color: $button-background-hover;
      }
    }
  }

  &.blue-bright {
    $button-background      : $blue-bright;
    $button-background-hover: scale-color($button-background, $lightness: -20%);

    background              : $button-background;

    &:hover {
      background: $button-background-hover;
    }

    &.hollow {
      background  : none;
      color       : $button-background;
      border-color: $button-background;

      &:hover {
        background  : none;
        color       : $button-background-hover;
        border-color: $button-background-hover;
      }
    }
  }
}

a:not(.button) {
  &.blue {
    $anchor-color: $blue-light;
    $anchor-color-hover: scale-color($anchor-color, $lightness: -20%);
    color: $anchor-color;
    &:hover {
      color: $anchor-color-hover;
    }
  }
  &.blue-bright {
    $anchor-color: $blue-bright;
    $anchor-color-hover: scale-color($anchor-color, $lightness: -20%);
    color: $anchor-color;
    &:hover {
      color: $anchor-color-hover;
    }
  }
}

.arrow {
  display    : inline-flex;
  align-items: center;
  // margin-right: 1rem;

  &:last-of-type {
    // margin-right: 0;
  }

  &::after {
    position   : unset !important;
    right      : unset !important;
    width      : unset !important;
    height     : unset !important;
    margin-top : unset !important;
    margin-left: 0.5rem;
    content    : "\e907" !important;
    background : unset !important;
    font-family: "Cognizant-Icons";
    font-weight: bold;
    color      : inherit;
  }

  &.arrow-solid {
    &::after {
      content    : "\e908" !important;
      font-family: "Cognizant-Icons";
    }
  }

  &.arrow-solid-green {
    &::after {
      content    : "\e908" !important;
      color      : $green;
      font-family: "Cognizant-Icons";
    }
  }

  &.arrow-down {
    &::after {
      content: "\e903" !important;
    }
  }

  &.arrow-small {
    &::after {
      @extend small;
    }
  }
}

.arrow-end {
  position: relative;

  &::before {
    position   : absolute;
    right      : 0.5rem;
    content    : "\e907";
    font-family: "Cognizant-Icons";
    font-weight: bold;
    margin-left: 0.2rem;
  }
}

.hollow {
  transition: $transition-fast;

  &.white {
    border-color: $white;
    color       : $white;
    background  : none;

    &:hover {
      background: none;
    }

    &:after {
      color: inherit;
    }
  }
}

[class*=button-group] {
  background: unset !important;
}
