/* ====================================================================================

██       █████  ██████  ███████ ██      ███████
██      ██   ██ ██   ██ ██      ██      ██
██      ███████ ██████  █████   ██      ███████
██      ██   ██ ██   ██ ██      ██           ██
███████ ██   ██ ██████  ███████ ███████ ███████

==================================================================================== */
.label {
    // text-transform: uppercase;
    font-size    : font-size(15px);
    font-weight  : bold;
    line-height  : inherit;
    margin-bottom: 0.5rem;
}
// -----  End of LABELS  ---------------------------------------------
