/* =================================================================================================
███    ███ ███████ ███    ██ ██    ██           ██    ██ ███████ ██████  ████████ ██  ██████  █████  ██
████  ████ ██      ████   ██ ██    ██           ██    ██ ██      ██   ██    ██    ██ ██      ██   ██ ██
██ ████ ██ █████   ██ ██  ██ ██    ██ █████     ██    ██ █████   ██████     ██    ██ ██      ███████ ██
██  ██  ██ ██      ██  ██ ██ ██    ██            ██  ██  ██      ██   ██    ██    ██ ██      ██   ██ ██
██      ██ ███████ ██   ████  ██████              ████   ███████ ██   ██    ██    ██  ██████ ██   ██ ███████
========================================================================================= */
.menu.vertical > li {
    margin: 0;

    & .active {
        color     : $white;
        background: $green;
    }
}
/* ----  End of MENU- VERTICAL  --------------------------------------------------------------------- */
