// Font Family
$cog-font-family--brand: 'Cognizant Sans', Helvetica;
$cog-font-family--quote: 'Cognizant Sans Italic', Georgia;

// Colors
@import "base/colors";

// Font Size

// Line Height

// Border

// Border Radius

// Box Shadows
$cog-box-shadow--base  : 0 20px 40px rgba($black, 0.1);

// Spacing

// Breakpoints
$cog-bp--mobile        : 0;
$cog-bp--mobile-xl     : 410px;
$cog-bp--tablet        : 600px;
$cog-bp--tablet-xl     : 768px;
$cog-bp--tablet-xxl    : 810px;
$cog-bp--desktop       : 1024px;
$cog-bp--desktop-xl    : 1366px;
$cog-bp--desktop-xxl   : 2000px;

// Grid
$cog-grid--columns     : 12;
$cog-grid--gutter      : 20px;