// Font Family
$cog-font-family--brand: 'Cognizant Sans', Helvetica;
$cog-font-family--quote: 'Cognizant Sans Italic', Georgia;

// Colors
@import "base/colors";

// Font Size

// Line Height

// Border

// Border Radius

// Box Shadows
$cog-box-shadow--base  : 0 20px 40px rgba($black, 0.1);

// Spacing

// Breakpoints
// Base size @ 20px
$cog-bp--mobile        : 0; 
$cog-bp--mobile-xl     : 410px; //20.5 rem
$cog-bp--tablet        : 600px; //30rem
$cog-bp--tablet-xl     : 768px; //38.4rem
$cog-bp--tablet-xxl    : 810px; //40.5rem
$cog-bp--desktop       : 1024px; //51.2rem
$cog-bp--desktop-xl    : 1200px; //60rem
$cog-bp--desktop-xxl   : 1600px; //80rem

// Grid
$cog-grid--columns     : 12;
$cog-grid--gutter      : 20px;