@charset 'utf-8';

@import 'cog-settings';
@import 'settings';
@import 'foundation-sites/scss/foundation';
@import 'motion-ui/src/motion-ui';

// GLOBAL STYLES
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// GRIDS (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
@include foundation-flex-grid;

// GENERIC COMPONENTS
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
@include foundation-switch;
@include foundation-table;

// BASIC COMPONENTS
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// CONTAINERS
@include foundation-accordion;
@include foundation-media-object;
// @include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;

// MENU-BASED CONTAINERS
@include foundation-menu;
// @include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// LAYOUT COMPONENTS
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
// @include foundation-top-bar;

// HELPERS
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

// MOTION UI
@include motion-ui-transitions;
@include motion-ui-animations;

// ====================================================================================
// ███████  ██████  ███    ██ ████████ ███████
// ██      ██    ██ ████   ██    ██    ██
// █████   ██    ██ ██ ██  ██    ██    ███████
// ██      ██    ██ ██  ██ ██    ██         ██
// ██       ██████  ██   ████    ██    ███████
// ====================================================================================
@import "../fonts/Cognizant-Sans/stylesheet.scss";
$icomoon-font-path: "../fonts/Cognizant-Icons-FONT/fonts";
@import "../fonts/Cognizant-Icons-FONT/style.scss";

// ====================================================================================
// ██████  ██      ██    ██  ██████  ██ ███    ██ ███████
// ██   ██ ██      ██    ██ ██       ██ ████   ██ ██
// ██████  ██      ██    ██ ██   ███ ██ ██ ██  ██ ███████
// ██      ██      ██    ██ ██    ██ ██ ██  ██ ██      ██
// ██      ███████  ██████   ██████  ██ ██   ████ ███████
// ====================================================================================
@import "aos/src/sass/aos";
@import "hamburgers/_sass/hamburgers/hamburgers";
$themeColor: $green;

@import "swiper/swiper";
@import "swiper/components/pagination/pagination.scss";
@import "swiper/components/navigation/navigation.scss";
@import "swiper/components/lazy/lazy.scss";
@import "swiper/components/thumbs/thumbs.scss";
@import "video.js/src/css/vjs.scss";

/* ===========================================================================================
██████  ███████ ██████  ██    ██  ██████   ██████  ██ ███    ██  ██████
██   ██ ██      ██   ██ ██    ██ ██       ██       ██ ████   ██ ██
██   ██ █████   ██████  ██    ██ ██   ███ ██   ███ ██ ██ ██  ██ ██   ███
██   ██ ██      ██   ██ ██    ██ ██    ██ ██    ██ ██ ██  ██ ██ ██    ██
██████  ███████ ██████   ██████   ██████   ██████  ██ ██   ████  ██████
=========================================================================================== */
.debug * {
  background-color: rgba(0,255,0,0.1);
  border          : 1px solid rgba(255, 0, 0, .2);
}
/* ----  End of DEBUGGING  -------------------------------------------------------------------------- */

// * + * {
//   margin-bottom: 1rem;
// }

// ===================================================================================
//  ██████  ██████  ██      ██    ██ ███    ███ ███    ██     ███████ ██ ██   ██
// ██      ██    ██ ██      ██    ██ ████  ████ ████   ██     ██      ██  ██ ██
// ██      ██    ██ ██      ██    ██ ██ ████ ██ ██ ██  ██     █████   ██   ███
// ██      ██    ██ ██      ██    ██ ██  ██  ██ ██  ██ ██     ██      ██  ██ ██
//  ██████  ██████  ███████  ██████  ██      ██ ██   ████     ██      ██ ██   ██
// ===================================================================================

.cell,
.cells,
.column,
.columns {
  min-width: initial;
}

// -----  End of COLUMN FIX  -----------------------------------

// ===================================================================================
// ██████   █████  ███████ ███████
// ██   ██ ██   ██ ██      ██
// ██████  ███████ ███████ █████
// ██   ██ ██   ██      ██ ██
// ██████  ██   ██ ███████ ███████
// ===================================================================================
@import "base/mixins";
@import "base/typography";
@import "base/sizes";
@import "base/backgrounds";
@import "base/flex";
@import "base/displays";
@import "base/object-utilities";
@import "base/opacities";
@import "base/positions";
@import "base/spacings";
@import "base/easing";
@import "base/animations";
@import "base/borders";
@import "base/forms";
@import "base/icons";
@import "base/image-overlays";
@import "base/lines";
@import "base/shadows";
@import "base/video";
@import "base/z-indexes";

// ===================================================================================
// ███████  ██████  ██    ██ ███    ██ ██████   █████  ████████ ██  ██████  ███    ██
// ██      ██    ██ ██    ██ ████   ██ ██   ██ ██   ██    ██    ██ ██    ██ ████   ██
// █████   ██    ██ ██    ██ ██ ██  ██ ██   ██ ███████    ██    ██ ██    ██ ██ ██  ██
// ██      ██    ██ ██    ██ ██  ██ ██ ██   ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
// ██       ██████   ██████  ██   ████ ██████  ██   ██    ██    ██  ██████  ██   ████
// ===================================================================================
@import "components/foundation/accordions";
@import "components/foundation/breadcrumbs";
@import "components/foundation/buttons";
@import "components/foundation/callouts";
@import "components/foundation/cards";
@import "components/foundation/drilldown";
@import "components/foundation/labels";
@import "components/foundation/menu";
@import "components/foundation/reveal";
@import "components/foundation/sticky";
@import "components/foundation/tables";
@import "components/foundation/tabs";

// ===================================================================================
//  ██████  ██████  ███    ███ ██████   ██████  ███    ██ ███████ ███    ██ ████████ ███████
// ██      ██    ██ ████  ████ ██   ██ ██    ██ ████   ██ ██      ████   ██    ██    ██
// ██      ██    ██ ██ ████ ██ ██████  ██    ██ ██ ██  ██ █████   ██ ██  ██    ██    ███████
// ██      ██    ██ ██  ██  ██ ██      ██    ██ ██  ██ ██ ██      ██  ██ ██    ██         ██
//  ██████  ██████  ██      ██ ██       ██████  ██   ████ ███████ ██   ████    ██    ███████
// ===================================================================================
@import "components/custom/banners";
@import "components/custom/footer";
@import "components/custom/nav-anchorLink-bar";
@import "components/custom/nav-primary";
@import "components/custom/partners";
@import "components/custom/read-more";

// ===================================================================================
// ██████  ██      ██    ██  ██████  ██ ███    ██
// ██   ██ ██      ██    ██ ██       ██ ████   ██
// ██████  ██      ██    ██ ██   ███ ██ ██ ██  ██
// ██      ██      ██    ██ ██    ██ ██ ██  ██ ██
// ██      ███████  ██████   ██████  ██ ██   ████
//  ██████  ██    ██ ███████ ██████  ██████  ██ ██████  ███████ ███████
// ██    ██ ██    ██ ██      ██   ██ ██   ██ ██ ██   ██ ██      ██
// ██    ██ ██    ██ █████   ██████  ██████  ██ ██   ██ █████   ███████
// ██    ██  ██  ██  ██      ██   ██ ██   ██ ██ ██   ██ ██           ██
//  ██████    ████   ███████ ██   ██ ██   ██ ██ ██████  ███████ ███████
// ===================================================================================
@import "plugins/aos";
@import "plugins/lazysizes";
@import "plugins/scrollup";
@import "plugins/swiper";
@import "plugins/videojs";

// ===================================================================================
// ██████   █████  ██████  ██   ██     ███    ███  ██████  ██████  ███████
// ██   ██ ██   ██ ██   ██ ██  ██      ████  ████ ██    ██ ██   ██ ██
// ██   ██ ███████ ██████  █████       ██ ████ ██ ██    ██ ██   ██ █████
// ██   ██ ██   ██ ██   ██ ██  ██      ██  ██  ██ ██    ██ ██   ██ ██
// ██████  ██   ██ ██   ██ ██   ██     ██      ██  ██████  ██████  ███████
// ===================================================================================
// @import "base/dark-mode";
