/* ====================================================================================

██ ███    ███  █████   ██████  ███████
██ ████  ████ ██   ██ ██       ██
██ ██ ████ ██ ███████ ██   ███ █████
██ ██  ██  ██ ██   ██ ██    ██ ██
██ ██      ██ ██   ██  ██████  ███████
 ██████  ██████   █████  ██████  ██ ███████ ███    ██ ████████
██       ██   ██ ██   ██ ██   ██ ██ ██      ████   ██    ██
██   ███ ██████  ███████ ██   ██ ██ █████   ██ ██  ██    ██
██    ██ ██   ██ ██   ██ ██   ██ ██ ██      ██  ██ ██    ██
 ██████  ██   ██ ██   ██ ██████  ██ ███████ ██   ████    ██
 ██████  ██    ██ ███████ ██████  ██       █████  ██    ██
██    ██ ██    ██ ██      ██   ██ ██      ██   ██  ██  ██
██    ██ ██    ██ █████   ██████  ██      ███████   ████
██    ██  ██  ██  ██      ██   ██ ██      ██   ██    ██
 ██████    ████   ███████ ██   ██ ███████ ██   ██    ██

==================================================================================== */
@mixin gradient-overlay-image {
  position       : absolute;
  left           : 0;
  bottom         : 0;
  display        : block;
  width          : 100%;
  height         : 75%;
  content        : "";
  background-size: cover;
}
@mixin gradient-overlay-image-full {
  position       : absolute;
  left           : 0;
  bottom         : 0;
  display        : block;
  width          : 100%;
  height         : 100%;
  content        : "";
  background-size: cover;
}
@mixin gradient-overlay-image-angled {
  position       : absolute;
  left           : 0;
  bottom         : 0;
  display        : block;
  width          : 100%;
  height         : 100%;
  content        : "";
  background-size: cover;
}

.gradient-overlay-white {
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, rgba($white,0) 0%,rgba($white,0) 50%,rgba($white,1) 100%);
    @include gradient-overlay-image;
  }
}

.gradient-overlay-blue {
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, rgba($blue,0) 0%,rgba($blue,0) 50%,rgba($blue,1) 100%);
    @include gradient-overlay-image;
  }
}

.gradient-overlay-blue-dark {
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, rgba($blue-dark,0) 0%,rgba($blue-dark,0) 50%,rgba($blue-dark,1) 100%);
    @include gradient-overlay-image;
  }
}

.gradient-overlay-black {
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, rgba($black, 0) 50%, rgba($black, 1) 100%);
    @include gradient-overlay-image;
  }
}

.gradient-overlay-white-full {
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, rgba($white, 0) 20%, rgba($white, 0.9) 65%);
    @include gradient-overlay-image-full;
  }
}

.gradient-overlay-blue-full {
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, rgba($blue, 0) 20%, rgba($blue, 0.7) 65%);
    @include gradient-overlay-image-full;
  }
}

.gradient-overlay-blue-dark-full {
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, rgba($blue-dark, 0) 20%, rgba($blue-dark, 0.7) 65%);
    @include gradient-overlay-image-full;
  }
}

.gradient-overlay-black-full {
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, rgba($black, 0) 20%, rgba($black, 0.7) 65%);
    @include gradient-overlay-image-full;
  }
}

.gradient-overlay-blue-angled {
  position: relative;

  &::after {
    background-image: linear-gradient(135deg, rgba($blue, 0) 30%, rgba($blue, 0.7) 80%);
    @include gradient-overlay-image-full;
  }
}

.gradient-overlay-blue-dark-angled {
  position: relative;

  &::after {
    background-image: linear-gradient(135deg, rgba($blue-dark, 0) 30%, rgba($blue-dark, 0.7) 80%);
    @include gradient-overlay-image-full;
  }
}
// -----  End of IMAGE GRADIENT OVERLAY  ----------

// ===================================================================================
// ██ ███    ███  █████   ██████  ███████
// ██ ████  ████ ██   ██ ██       ██
// ██ ██ ████ ██ ███████ ██   ███ █████
// ██ ██  ██  ██ ██   ██ ██    ██ ██
// ██ ██      ██ ██   ██  ██████  ███████
//  ██████  ██████  ██       ██████  ██████
// ██      ██    ██ ██      ██    ██ ██   ██
// ██      ██    ██ ██      ██    ██ ██████
// ██      ██    ██ ██      ██    ██ ██   ██
//  ██████  ██████  ███████  ██████  ██   ██
//  ██████  ██    ██ ███████ ██████  ██       █████  ██    ██
// ██    ██ ██    ██ ██      ██   ██ ██      ██   ██  ██  ██
// ██    ██ ██    ██ █████   ██████  ██      ███████   ████
// ██    ██  ██  ██  ██      ██   ██ ██      ██   ██    ██
//  ██████    ████   ███████ ██   ██ ███████ ██   ██    ██
// ===================================================================================

@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $color-name, $color in $image-color-overlay-palette {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-bgOverlay-#{$color-name} {
          background-image: linear-gradient(rgba($color, 0.55), rgba($color, 0.55));
        }
      } @else {
        .bgOverlay-#{$color-name} {
          background-image: linear-gradient(rgba($color, 0.55), rgba($color, 0.55));
        }
      }
    }
  }
}

// -----  End of IMAGE COLOR OVERLAY  -----------------------------------
