// ===================================================================================
//  ██████  ██████       ██ ███████  ██████ ████████
// ██    ██ ██   ██      ██ ██      ██         ██
// ██    ██ ██████       ██ █████   ██         ██
// ██    ██ ██   ██ ██   ██ ██      ██         ██
//  ██████  ██████   █████  ███████  ██████    ██
// ===================================================================================
.object-fit-cover {
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.object-fit-contain {
  width     : 100%;
  height    : 100%;
  object-fit: contain;
}

.object-fit-none {
  object-fit: none;
}

.object-position-top-left {
  object-position: 0 0;
}

.object-position-top-right {
  object-position: 100% 0;
}

.object-position-top-center {
  object-position: 50% 0;
}

.object-position-bottom-left {
  object-position: 0 100%;
}

.object-position-bottom-right {
  object-position: 100% 100%;
}

.object-position-bottom-center {
  object-position: 50% 100%;
}

.object-position-center {
  object-position: 50% 50%;
}

.object-position-center-left {
  object-position: 0 50%;
}

.object-position-center-right {
  object-position: 100% 50%;
}
