//- ===================================================================================
//- DIVIDER DASH
//- ===================================================================================
mixin dividerDash(alignment="center")
  p.h1(class="text-" + alignment aria-hidden="true")&attributes(attributes) –
//- -----  End of DIVIDER DASH  -----------------------------------