// ===================================================================================
// ██████  ██████      ██████  ███████ ██████   ██████  ██████  ████████
//      ██ ██   ██     ██   ██ ██      ██   ██ ██    ██ ██   ██    ██
//  █████  ██   ██     ██████  █████   ██████  ██    ██ ██████     ██
//      ██ ██   ██     ██   ██ ██      ██      ██    ██ ██   ██    ██
// ██████  ██████      ██   ██ ███████ ██       ██████  ██   ██    ██
//  ██████  ██████  ██    ██ ███████ ██████
// ██      ██    ██ ██    ██ ██      ██   ██
// ██      ██    ██ ██    ██ █████   ██████
// ██      ██    ██  ██  ██  ██      ██   ██
//  ██████  ██████    ████   ███████ ██   ██
// ===================================================================================

.threeDcontainer {
    position   : relative;
    perspective: 1500px;
}

.threeDimage {
    transform: scale(0.9) rotateX(5deg) rotateY(30deg) rotateZ(-4deg) translateZ(75px) translateX(-50px);
}

.threeDgradient {
    position : absolute;
    top      : 0;
    left     : 0;
    //- background: rgba(66, 152, 181, .5);
    width    : 100%;
    height   : 100%;
    transform: scaleX(.75) scaleY(0.77) scaleZ(1.05) rotateX(5deg) rotateY(30deg) rotateZ(-4deg) translateY(-30px);
}

.threeDshadow {
    position  : absolute;
    bottom    : -10%;
    left      : 0;
    background: rgba($black, .5);
    width     : 100%;
    height    : 100%;
    // transform : scaleX(0.6) scaleY(1) scaleZ(1) rotateX(95deg) rotateY(0deg) rotateZ(-33deg) translateX(-99px) translateY(-7px) translateZ(-212px);
    transform : scaleX(0.6) scaleY(1) scaleZ(1) rotateX(95deg) rotateY(0deg) rotateZ(-33deg) translateX(0rem) translateY(0rem) translateZ(-4rem) translate3d(0,0,0) !important;
    filter: blur(4rem);
}

// -----  End of 3D REPORT COVER  -----------------------------------
