/* ====================================================================================
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
==================================================================================== */
.footer-blue-bar {
  li a:hover {
    background: $button-background-hover;
  }
}

.footer {
  ul li {
    margin     : 0;
    line-height: 1.3rem;
  }

  a {
    font-weight: normal;
    color      : $white;

    &:hover {
      color: $anchor-color;
    }
  }
}
/* -----  End of FOOTER  ---------- */
