#navSubBar {
    hyphens: auto;
}
/* ====================================================================================

███    ██  █████  ██    ██
████   ██ ██   ██ ██    ██
██ ██  ██ ████████ ██    ██
██  ██ ██ ██   ██  ██  ██
██   ████ ██   ██   ████
██████  ██      ██    ██ ███████     ██████   █████  ██████
██   ██ ██      ██    ██ ██          ██   ██ ██   ██ ██   ██
██████  ██      ██    ██ █████       ██████  ███████ ██████
██   ██ ██      ██    ██ ██          ██   ██ ██   ██ ██   ██
██████  ███████  ██████  ███████     ██████  ██   ██ ██   ██

==================================================================================== */
.navBarInPage {
    & a {
        color: $white;

        &:hover {
            color     : $green;
            background: $white !important;
        }
    }

    & a.is-active {
        // background: transparentize($white, .80) !important;
        background: $green !important;

        &:hover {
            color     : $green;
            background: $white !important;
        }
    }
}
// -----  End of NAV BLUE BAR  ---------------------------------------------
