/* ====================================================================================

██████   █████  ██████  ████████ ███    ██ ███████ ██████
██   ██ ██   ██ ██   ██    ██    ████   ██ ██      ██   ██
██████  ███████ ██████     ██    ██ ██  ██ █████   ██████
██      ██   ██ ██   ██    ██    ██  ██ ██ ██      ██   ██
██      ██   ██ ██   ██    ██    ██   ████ ███████ ██   ██
██       ██████   ██████   ██████  ███████
██      ██    ██ ██       ██    ██ ██
██      ██    ██ ██   ███ ██    ██ ███████
██      ██    ██ ██    ██ ██    ██      ██
███████  ██████   ██████   ██████  ███████

==================================================================================== */
.partner-logo {
    padding   : 1rem;
    min-height: 115px;

    img {
        max-width : 300px;
        max-height: 75px;
    }
}

.partner-logo {
    padding   : 1rem;
    min-height: 115px;

    img {
        max-width : 300px;
        max-height: 75px;
    }
}

// -----  End of PARTNER LOGOS  ----------
