/* ====================================================================================
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
==================================================================================== */

footer,
[class*=footer] {
  a {
    font-weight: normal;
    color      : $body-font-color;
    transition : $transition-default;
    &:hover {
      color: $anchor-color;
    }
  }

  ul li {
    margin: 0.25rem;
    // line-height: 1.3rem;
  }

  .footer-primary {
    background-color: $gray-light;
  }

  // ======================================================================
  // ████████ ██   ██ ███████ ███    ███ ███████ ███████
  //    ██    ██   ██ ██      ████  ████ ██      ██
  //    ██    ███████ █████   ██ ████ ██ █████   ███████
  //    ██    ██   ██ ██      ██  ██  ██ ██           ██
  //    ██    ██   ██ ███████ ██      ██ ███████ ███████
  // ======================================================================
  &[class*=theme-blue] {
    $anchor-color      : $white;
    $anchor-color-hover: $blue-bright;
    color              : $white;
    background-color   : $blue;

    .button,
    h5,
    h6 {
      color: $white;
    }
    
    li a {
      color: $anchor-color;
      
      &:hover {
        color: $anchor-color-hover;
      }
    }

    .footer-primary {
      background-color: $black-30;
    }

    .footer-site-map {
      background-color: $blue;
    }
  }

  &.theme-blue-dark {
    background-color: $blue-dark;

    .footer-primary {
      background-color: $black-30;
    }

    .footer-site-map {
      background-color: $blue-dark;
    }
  }

  &.theme-blue-dark-gradient {
    // background-color: .bg-grd-blue-radial-top;
    @extend .bg-grd-blue-radial-top;

    .footer-primary {
      background-color: $black-30;
    }

    .footer-site-map {
      background-color: transparent;
    }
  }
}

/* -----  End of FOOTER  ---------- */
