// ====================================================================================
// ██████  ██████  ██ ███    ███  █████  ██████  ██    ██     ███    ██  █████  ██    ██
// ██   ██ ██   ██ ██ ████  ████ ██   ██ ██   ██  ██  ██      ████   ██ ██   ██ ██    ██
// ██████  ██████  ██ ██ ████ ██ ███████ ██████    ████       ██ ██  ██ ███████ ██    ██
// ██      ██   ██ ██ ██  ██  ██ ██   ██ ██   ██    ██        ██  ██ ██ ██   ██  ██  ██
// ██      ██   ██ ██ ██      ██ ██   ██ ██   ██    ██        ██   ████ ██   ██   ████
// ====================================================================================

%nav-primaryArrowEnd {
  // position   : absolute;
  // top        : calc(50% - .5rem);
  // right      : 0;
  content    : "\e908";
  color      : $green;
  font-family: "Cognizant-Icons";
  font-size  : $small-font-size;
}

.header-menu {
  a {
    font-weight: normal;
    line-height: initial;
  }

  i {
    display     : inline;
    padding-left: 0.25rem;

    &:after {
      position: relative;
      top     : -0.05rem;
    }
  }

  .nav-primaryLink {
    position  : relative;
    display   : inline-block;
    // margin-left: 0.5rem;
    padding   : 1rem;
    transition: all 0.5s ease;
    color     : $black;

    &:hover {
      color     : $white;
      background: $blue;
    }

    &.arrow-end {
      padding: 1rem 2rem 1rem 1rem;

      &::after {
        position   : absolute;
        top        : calc(50% - .5rem);
        right      : 0.75rem;
        content    : "\e903";
        color      : $green;
        font-family: "Cognizant-Icons";
        font-weight: 600;
      }

      &.nav-primaryLink-close::after {
        content: "\e91a";
      }
    }
  }

  .dropdown-pane {
    left  : 0 !important;
    width : 100vw;
    height: 100vh;

    div {
      max-width: 1200px;
    }

    li {
      margin-bottom: 0;
      transition   : all 0.5s ease;

      &:hover {
        background: darken($blue, 5%);
      }
    }

    a {
      display    : inline-block;
      padding    : 0.35rem 0.5rem 0.5rem;
      color      : $white;
      font-weight: normal;
      width      : 100%;

      &:hover {
        background: initial;
      }

      &::after {
        // @extend %nav-primaryArrowEnd;
        // display: inline;
      }

      // &.no-arrow:after {
      //     content: '';
      // }
    }
  }
}

// -----  End of PRIMARY NAV  ----------

/* ====================================================================================

██     ██  ██████  ██████  ██      ██████  ██     ██ ██ ██████  ███████
██     ██ ██    ██ ██   ██ ██      ██   ██ ██     ██ ██ ██   ██ ██
██  █  ██ ██    ██ ██████  ██      ██   ██ ██  █  ██ ██ ██   ██ █████
██ ███ ██ ██    ██ ██   ██ ██      ██   ██ ██ ███ ██ ██ ██   ██ ██
 ███ ███   ██████  ██   ██ ███████ ██████   ███ ███  ██ ██████  ███████
███    ███ ███████ ███    ██ ██    ██
████  ████ ██      ████   ██ ██    ██
██ ████ ██ █████   ██ ██  ██ ██    ██
██  ██  ██ ██      ██  ██ ██ ██    ██
██      ██ ███████ ██   ████  ██████

==================================================================================== */
#language-menu {
  img {
    margin-right: 0.5rem;
  }

  a {
    display    : inline;
    color      : $black;
    font-weight: normal;

    &:hover {
      color: $green;
    }
  }
}
// -----  End of WORLDWIDE MENU  ----------
