mixin footer
  footer&attributes(attributes)
    // =============================================================================================
    // ███████  ██████   ██████  ████████ ███████ ██████      ███████  ██████   ██████ ██  █████  ██
    // ██      ██    ██ ██    ██    ██    ██      ██   ██     ██      ██    ██ ██      ██ ██   ██ ██
    // █████   ██    ██ ██    ██    ██    █████   ██████      ███████ ██    ██ ██      ██ ███████ ██
    // ██      ██    ██ ██    ██    ██    ██      ██   ██          ██ ██    ██ ██      ██ ██   ██ ██
    // ██       ██████   ██████     ██    ███████ ██   ██     ███████  ██████   ██████ ██ ██   ██ ███████
    // =============================================================================================
    .footer-primary
      .grid-container
        .grid-x.grid-padding-x.align-middle.align-justify
          .small-12.medium-shrink.cell
            .button-group.m0.flex-wrap
              a.button.clear.p-half(href="#")
                h5.m0
                  i.logo-linkedin
              a.button.clear.p-half(href="#")
                h5.m0
                  i.logo-twitter-bird
              a.button.clear.p-half(href="#")
                h5.m0
                  i.logo-facebook
              a.button.clear.p-half(href="#")
                h5.m0
                  i.rss-feed-solid

          .small-12.medium-shrink.cell.small
            ul.menu.vertical.medium-horizontal.large-align-right.flex-wrap.pos-inherit
              li
                a.small.pb0.px0.medium-px-half.medium-py1(href="#") Sitemap

              li
                a.small.pb0.px0.medium-px-half.medium-py1(href="#") Legal

              li
                a.small.pb0.px0.medium-px-half.medium-py1(href="#") Privacy Policy

              li
                a.small.pb0.px0.medium-px-half.medium-py1(href="#") Cookie Policy

              li
                p.small.pt2.medium-m0.medium-py1 &copy; 
                  //- /* script
                    document.write(new Date().getFullYear()) */
                  | 2021 Cognizant, all rights reserved

    // =============================================================================================
    // ███████  ██████   ██████  ████████ ███████ ██████
    // ██      ██    ██ ██    ██    ██    ██      ██   ██
    // █████   ██    ██ ██    ██    ██    █████   ██████
    // ██      ██    ██ ██    ██    ██    ██      ██   ██
    // ██       ██████   ██████     ██    ███████ ██   ██
    // =============================================================================================
    .footer-site-map
      .grid-container
        .grid-x.grid-padding-x.pt2(data-attribute="whiteFooterTag")
          .small-12.medium-9.cell(data-attr ibute="whiteFooterMenuOneTag")
            .grid-x.grid-padding-x
              .cell
                h6 INDUSTRIES
            .grid-x.grid-padding-x.small-up-1.medium-up-3
              .cell
                ul.no-bullet.small
                  li
                    p.small-mb0(title="")
                      strong
                  li
                    a(href="/banking-financial-services" title="Banking & Financial Services" target="_blank" rel="noopener") Banking &amp; Financial Services
                  li
                    a(href="/telecommunications" title="Communications") Communications
                  li
                    a(href="/consumer-goods" title="Consumer Goods") Consumer Goods
                  li
                    a(href="/education" title="Education") Education
                  li
                    a(href="/energy-utility" title="Energy & Utilities") Energy &amp; Utilities
              .cell
                ul.no-bullet.small
                  li
                    p.small-mb0(title="")
                      strong
                  li
                    a(href="/healthcare" title="Healthcare") Healthcare
                  li
                    a(href="/information-services" title="Information Services") Information Services
                  li
                    a(href="/insurance" title="Insurance") Insurance
                  li
                    a(href="/life-sciences" title="Life Sciences") Life Sciences
                  li
                    a(href="/manufacturing" title="Manufacturing") Manufacturing
              .cell
                ul.no-bullet.small
                  li
                    p.small-mb0(title="")
                      strong
                  li
                    a(href="/information-media-entertainment" title="Media & Entertainment") Media &amp; Entertainment
                  li
                    a(href="/retail" title="Retail") Retail
                  li
                    a(href="/technology" title="Technology") Technology
                  li
                    a(href="/transportation-logistics" title="Transportation & Logistics") Transportation &amp; Logistics
                  li
                    a(href="/travel-hospitality" title="Travel & Hospitality") Travel &amp; Hospitality
            .grid-x.grid-padding-xtext-center
              .cell
                h6 SERVICES
                .grid-x.grid-padding-x
                  .cell.medium-8
                    ul.no-bullet.small.m0
                      li
                        a(href="#")
                          strong Digital Business & Technology
                    .grid-container.full
                      .grid-x.grid-padding-x
                        .cell.auto
                          ul.no-bullet.small
                            li
                              a(href="#") Application Services
                            li
                              a(href="#") Artificial Intelligence
                            li
                              a(href="#") Cloud Enablement
                            li
                              a(href="#") Cognizant Infrastructure Services
                            li
                              a(href="#") Cognizant Security
                            li
                              a(href="#") Core Modernization
                        .cell.auto
                          ul.no-bullet.small
                            li
                              a(href="#") Digital Engineering
                            li
                              a(href="#") Digital Experience
                            li
                              a(href="#") Digital Strategy
                            li
                              a(href="#") Enterprise Application Services
                            li
                              a(href="#") Internet of Things
                            li
                              a(href="#") Quality Engineering & Assurance
                  .cell.medium-4
                    ul.no-bullet.small
                      li
                        a(href="/cognizant-digital-business", title="Cognizant Digital Business")
                          strong Digital Business Operations
                      li
                        a(href="/cognizant-digital-business/applied-ai-analytics", title="AI & Analytics") Enterprise Services
                      li
                        a(href="/cognizant-digital-business/digital-engineering-services", title="Digital Engineering") Industry & Platform Solutions
                      li
                        a(href="/cognizant-digital-business/digital-strategy", title="Digital Strategy") Intelligent Process Automation
            .grid-x.grid-padding-xtext-center
              .cell
                a(href="/consulting" title="COGNIZANT CONSULTING") 
                  h6 COGNIZANT CONSULTING
            .grid-x.grid-padding-x.small-up-1.medium-up-3
            .grid-x.grid-padding-xtext-center
              .cell
                h6 LATEST THINKING
            .grid-x.grid-padding-x.small-up-1.medium-up-3
              .cell
                ul.no-bullet.small
                  li
                    p.small.small-mb0(title="Our Media & Publications")
                      strong Our Media &amp; Publications
                  li
                    a(href="/latest-thinking" title="All Latest Thinking") All Latest Thinking
                  li
                    a(href="/perspectives" title="Perspectives") Perspectives
                  li
                    a(href="/cognizanti" title="Cognizanti Journal") Cognizanti Journal
                  li
                    a(href="https://digitally.cognizant.com/" title="Digitally Cognizant Blog" target="_blank" rel="noopener") Digitally Cognizant Blog
                  li
                    a(href="https://soundcloud.com/cognizant-worldwide/" title="Cognizant Podcasts" target="_blank" rel="noopener") Cognizant Podcasts
                  li
                    a(href="/case-studies" title="Browse Case Studies") Browse Case Studies
              .cell
                ul.no-bullet.small
                  li
                    p.small.small-mb0(title="Key Themes")
                      strong Key Themes
                  li
                    a(href="/blockchain" title="Blockchain") Blockchain
                  li
                    a(href="/artificial-intelligence" title="Artificial Intelligence") Artificial Intelligence
                  li
                    a(href="/when-machines-do-everything" title="When Machines Do Everything") When Machines Do Everything
                  li
                    a(href="/world-economic-forum-highlights-2018" title="World Economic Forum 2018—Davos") World Economic Forum 2018&mdash;Davos
                  li
                    a(href="/code-halos" title="Code Halos") Code Halos
              .cell
                ul.no-bullet.small
                  li
                    a(href="/futureofwork" title="Center for the Future of Work")
                      strong Center for the Future of Work
                  li
                    a(href="/future-of-work" title="Explore the Future of Work") Explore the Future of Work
                  li
                    a(href="/digital-workforce-of-the-future" title="Digital Workforce of the Future") Digital Workforce of the Future
                  li
                    a(href="/the-work-ahead" title="The Work Ahead") The Work Ahead
                  li
                    a(href="/business-value-of-trust" title="Business Value of Trust") Business Value of Trust
                  li
                    a(href="http://www.futureofwork.com/whitepaper/21-jobs-of-the-future-a-guide-to-getting-and-staying-employed-over-the-next-10-years" title="21 Jobs of the Future" target="_blank" rel="noopener") 21 Jobs of the Future
          .small-12.medium-3.cell(data-attribute="whiteFooterMenuTwoTag")
            a(href="/about-cognizant" title="ABOUT COGNIZANT") 
              h6 ABOUT COGNIZANT
            ul.no-bullet.small
              li
                a(href="/about-cognizant/board-of-directors" title="Board of Directors") Board of Directors
              li
                a(href="/events" title="Cognizant Events") Cognizant Events
              li
                a(href="/contactus" title="Contact Us") Contact Us
              li
                a(href="/about-cognizant/corporate-governance" title="Corporate Governance") Corporate Governance
              li
                a(href="/about-cognizant/corporate-integrity" title="Corporate Integrity") Corporate Integrity
              li
                a(href="/about-cognizant/core-values" title="Culture & Values") Culture &amp; Values
              li
                a(href="/about-cognizant/executive-leadership" title="Executive Leadership") Executive Leadership
              li
                a(href="http://news.cognizant.com/" title="News & Press Releases") News &amp; Press Releases
              li
                a(href="/partners" title="Partnerships") Partnerships
              li
                a(href="/about-cognizant/sustainability" title="Sustainability") Sustainability
              li
                a(href="/about-cognizant/talent-worldwide" title="Talent Worldwide") Talent Worldwide
              li
                a(href="/about-cognizant/the-cognizant-growth-story" title="The Cognizant Growth Story") The Cognizant Growth Story
              li
                a(href="/women-empowered" title="Women Empowered") Women Empowered
            h6 INFORMATION FOR SUPPLIERS
            ul.no-bullet.small
              li
                a(href="/Procure-to-pay" title="Procure-to-Pay") Procure-to-Pay
            .cell
              .hex-link
                //- #teconsent(consent="0,1,2")
                  script(src="//consent.truste.com/notice?domain=cognizant.com&c=teconsent&js=bb&noticeType=bb&cookieLink=https://www.cognizant.com/cookiepolicy", id="truste_0.8992182165621561")
                  //- a#icon-id043853575194498373(tabindex="0", role="button", lang="en")
                    img(src="https://consent.trustarc.com/get?name=trustarc_cookiepreferences.png", alt="Cookie Preference", style="border: none; cursor: pointer;")