// ===================================================================================
//  █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██ ███████
// ██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██ ██
// ███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██ ███████
// ██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██      ██
// ██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████ ███████
// ===================================================================================
.hover-hide {
  visibility: visible;
}

.hover-hide:hover {
  visibility: hidden;
}

.hover-show {
  transition: all 0.2s ease-out;
  opacity   : 0;
}

.hover-show:hover {
  opacity: 1;
}

.hover-green {
  transition: $button-transition;

  &:hover {
    color: $green !important;
  }
}

.hover-blue {
  transition: $button-transition;

  &:hover {
    // color: $blue !important;
    transition: $button-transition;

    background: darken($blue, 20%);
  }
}

/*====================================================================================

██████   ██████  ██   ██     ███████ ██   ██  █████  ██████   ██████  ██     ██
██   ██ ██    ██  ██ ██      ██      ██   ██ ██   ██ ██   ██ ██    ██ ██     ██
██████  ██    ██   ███       ███████ ███████ ███████ ██   ██ ██    ██ ██  █  ██
██   ██ ██    ██  ██ ██           ██ ██   ██ ██   ██ ██   ██ ██    ██ ██ ███ ██
██████   ██████  ██   ██     ███████ ██   ██ ██   ██ ██████   ██████   ███ ███
██   ██  ██████  ██    ██ ███████ ██████
██   ██ ██    ██ ██    ██ ██      ██   ██
███████ ██    ██ ██    ██ █████   ██████
██   ██ ██    ██  ██  ██  ██      ██   ██
██   ██  ██████    ████   ███████ ██   ██

====================================================================================*/
@mixin box-shadow-hover() {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 2px rgba($black, 0.1);

  &:hover {
    transform : scale(1.01);
    box-shadow: 0 10px 30px 5px rgba($black, 0.4);
  }
}

.box-shadow-hover {
  @include box-shadow-hover();
}
// -----  End of BOX SHADOW HOVER  ---------------------------------------------
/* ====================================================================================

██   ██  ██████  ██    ██ ███████ ██████       ██████  ██████   ██████  ██     ██
██   ██ ██    ██ ██    ██ ██      ██   ██     ██       ██   ██ ██    ██ ██     ██
███████ ██    ██ ██    ██ █████   ██████      ██   ███ ██████  ██    ██ ██  █  ██
██   ██ ██    ██  ██  ██  ██      ██   ██     ██    ██ ██   ██ ██    ██ ██ ███ ██
██   ██  ██████    ████   ███████ ██   ██      ██████  ██   ██  ██████   ███ ███

==================================================================================== */
@include breakpoint(medium) {
  .hover-grow {
    position  : relative;
    z-index   : 1;
    overflow  : visible;
    transition: all 0.3s ease;
    box-shadow: 0;
    // border    : 0;
    &.is-active,
    &:hover {
      z-index         : 10;
      transform       : scale(1.035);
      transform-origin: center;
      box-shadow      : 0 5px 10px 0 rgba($black, 0.2);
    }
  }
}
// -----  End of HOVER GROW  ---------------------------------------------

// =============================================================================================
// ██   ██  ██████  ██    ██ ███████ ██████
// ██   ██ ██    ██ ██    ██ ██      ██   ██
// ███████ ██    ██ ██    ██ █████   ██████
// ██   ██ ██    ██  ██  ██  ██      ██   ██
// ██   ██  ██████    ████   ███████ ██   ██
// ██████  ███████ ██    ██ ███████  █████  ██
// ██   ██ ██      ██    ██ ██      ██   ██ ██
// ██████  █████   ██    ██ █████   ███████ ██
// ██   ██ ██       ██  ██  ██      ██   ██ ██
// ██   ██ ███████   ████   ███████ ██   ██ ███████
// =============================================================================================

@keyframes reveal-content {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display  : block;
    transform: scale(0);
    opacity  : 0;
  }

  100% {
    transform: scale(1);
    opacity  : 1;
  }
}

.hover-reveal-trigger {
  // align-items: flex-end;
  // position: relative;
  // overflow: hidden;
  // padding: 0;

  .hover-reveal-middle {
    padding   : 1.5rem;
    // max-height: 0;
    transition: all 0.5s ease;
    // position  : absolute;
    // bottom    : 0;
    transform : translateY(200%);
    opacity   : 1;
    // transform : scaleY(0);
    background: rgba($black, .5);
  }

  .hover-reveal-bottom,
  .hover-reveal-top {
    transition: all 0.5s ease;
    // position  : absolute;
    // bottom    : 0;
    // max-height: 0;
    transform : translateY(100%);
    opacity   : 0;
  }

  .hover-reveal-bottom {
    // transform : translateY(100%);
    // opacity   : 0;
    // max-height: 0;
  }

  &:hover {
    // align-items: center;
    // padding: 1rem;

    .hover-reveal-middle {
      // position  : absolute;
      // bottom    : 50%;
      // transform : translateY(0);
      // opacity   : 1;
      // transition: all 0.5s ease;
      // transform : scaleY(1);
      // max-height: 200px;
    }

    .hover-reveal-bottom,
    .hover-reveal-middle,
    .hover-reveal-top {
      transition: all 0.5s ease;
      // position  : relative;
      // bottom    : 0;
      // max-height: 500px;
      transform : translateY(0);
      opacity   : 1;
    }

    .hover-reveal-bottom {
      // animation : reveal-content 1s;
      // transition: all 0.5s ease;
      // opacity   : 1;
      // max-height: 150px;
    }
  }
}
// -----  End of HOVER REVEAL  ---------------------------------------------

// =============================================================================================
// ██   ██  ██████  ██    ██ ███████ ██████
// ██   ██ ██    ██ ██    ██ ██      ██   ██
// ███████ ██    ██ ██    ██ █████   ██████
// ██   ██ ██    ██  ██  ██  ██      ██   ██
// ██   ██  ██████    ████   ███████ ██   ██
// ██████   ██████  ██████  ██████  ███████ ██████       ██████  ██████   ██████  ██     ██
// ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██     ██       ██   ██ ██    ██ ██     ██
// ██████  ██    ██ ██████  ██   ██ █████   ██████      ██   ███ ██████  ██    ██ ██  █  ██
// ██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██     ██    ██ ██   ██ ██    ██ ██ ███ ██
// ██████   ██████  ██   ██ ██████  ███████ ██   ██      ██████  ██   ██  ██████   ███ ███
// =============================================================================================
.hover-border-grow {
  // outline   : 0 solid transparent;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 0 $green;

  &:hover {
    cursor    : pointer;
    transition: all 0.3s ease;
    // outline   : 1rem solid $green;
    box-shadow: 0 0 0 1rem $green;
  }
}
// -----  End of HOVER BORDER GROW  ---------------------------------------------

// =============================================================================================
// ██   ██  ██████  ██    ██ ███████ ██████
// ██   ██ ██    ██ ██    ██ ██      ██   ██
// ███████ ██    ██ ██    ██ █████   ██████
// ██   ██ ██    ██  ██  ██  ██      ██   ██
// ██   ██  ██████    ████   ███████ ██   ██
// ██   ██ ██ ██████  ███████        ██        ███████ ██   ██  ██████  ██     ██
// ██   ██ ██ ██   ██ ██             ██        ██      ██   ██ ██    ██ ██     ██
// ███████ ██ ██   ██ █████       ████████     ███████ ███████ ██    ██ ██  █  ██
// ██   ██ ██ ██   ██ ██          ██  ██            ██ ██   ██ ██    ██ ██ ███ ██
// ██   ██ ██ ██████  ███████     ██████       ███████ ██   ██  ██████   ███ ███
// =============================================================================================
.hover-hide-show {
  position: relative;
  overflow: hidden;

  .hide-on-hover {
    transition: all 0.35s ease-out;
    transform : translateY(0%);
  }

  .show-on-hover {
    transition: all 0.35s ease-out;
    transform : translateY(100%);
    opacity   : 0;
  }

  &:hover {
    .hide-on-hover {
      transition: all 0.35s ease-out;
      transform : translateY(100%);
    }

    .show-on-hover {
      transition: all 0.35s ease-out;
      transform : translateY(0%);
      opacity   : 1;
    }
  }
}
// -----  End of HOVER HIDE & SHOW  ---------------------------------------------

// =============================================================================================
// ██   ██  ██████  ██    ██ ███████ ██████
// ██   ██ ██    ██ ██    ██ ██      ██   ██
// ███████ ██    ██ ██    ██ █████   ██████
// ██   ██ ██    ██  ██  ██  ██      ██   ██
// ██   ██  ██████    ████   ███████ ██   ██
// ███████ ██      ██ ██████  ███████     ██    ██ ██████
// ██      ██      ██ ██   ██ ██          ██    ██ ██   ██
// ███████ ██      ██ ██   ██ █████       ██    ██ ██████
//      ██ ██      ██ ██   ██ ██          ██    ██ ██
// ███████ ███████ ██ ██████  ███████      ██████  ██
// =============================================================================================
.hover-slide-up {
  position  : relative;
  min-height: 280px;

  .slide-up-section1 {
    position  : absolute;
    bottom    : 0;
    height    : 50%;
    padding   : 2rem 1rem 1rem;
    transition: all 0.3s ease-out;
    background: $white;
  }

  .slide-up-section2 {
    max-height: 0;
    transition: all 0.3s ease-out;
    opacity   : 0;
  }

  &:hover .slide-up-section1 {
    height    : 100%;
    padding   : 1rem;
    background: $green;

    * {
      color: $white !important;
    }
  }

  &:hover .slide-up-section2 {
    max-height: 200px;
    opacity   : 1;
    color     : $white !important;
  }
}
// -----  End of HOVER SLIDE UP  ---------------------------------------------

// ====================================================================================
// ██████  ██     ██     ████████  ██████       ██████  ██████  ██       ██████  ██████
// ██   ██ ██     ██        ██    ██    ██     ██      ██    ██ ██      ██    ██ ██   ██
// ██████  ██  █  ██        ██    ██    ██     ██      ██    ██ ██      ██    ██ ██████
// ██   ██ ██ ███ ██        ██    ██    ██     ██      ██    ██ ██      ██    ██ ██   ██
// ██████   ███ ███         ██     ██████       ██████  ██████  ███████  ██████  ██   ██
// ██   ██  ██████  ██    ██ ███████ ██████
// ██   ██ ██    ██ ██    ██ ██      ██   ██
// ███████ ██    ██ ██    ██ █████   ██████
// ██   ██ ██    ██  ██  ██  ██      ██   ██
// ██   ██  ██████    ████   ███████ ██   ██
// ====================================================================================

.bw-color-hover {
  transition: all 0.5s ease;
  filter: grayscale(1);

  &:hover {
    transition: all 0.5s ease;
    filter: grayscale(0);
  }
}
// -----  End of BW TO COLOR HOVER  ---------------------------------------------

/* ====================================================================================

 █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██
██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██
███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██
██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████
██  ██████  ██████  ███    ██ ███████
██ ██      ██    ██ ████   ██ ██
██ ██      ██    ██ ██ ██  ██ ███████
██ ██      ██    ██ ██  ██ ██      ██
██  ██████  ██████  ██   ████ ███████

==================================================================================== */
@for $index from 1 through 6 {
  h#{$index}.anim-icon {
    display    : inline-block;
    margin     : 0;
    text-align : center;
    color      : $white;
    font-weight: normal;
    line-height: 0;
  }
}

.anim-icon {
  & i {
    display   : block;
    transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

    & + .anim-text {
      display   : block;
      transition: all, 0.3s;
      transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      transform : translateY(-1rem);
      opacity   : 0;
      font-size : $small-font-size - 15;
      /* easeInOutQuart */
    }
  }

  &:hover i {
    transform: translateY(-.75rem);

    & + .anim-text {
      transform: translateY(0);
      opacity  : 1;
    }
  }
}
// -----  End of ANIMATION- ICONS  ---------------------------------------------
/* ====================================================================================

 █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██
██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██
███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██
██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████
███████ ██      ██ ██████  ███████     ██    ██ ██████
██      ██      ██ ██   ██ ██          ██    ██ ██   ██
███████ ██      ██ ██   ██ █████       ██    ██ ██████
     ██ ██      ██ ██   ██ ██          ██    ██ ██
███████ ███████ ██ ██████  ███████      ██████  ██

==================================================================================== */
.anim-slide-up {
  min-height: 200px;

  .slide-up-section1,
  .slide-up-section2 {
    height    : 70px;
    transition: all 0.35s ease;
    transform : translateY(125%);
  }

  .slide-up-section2 {
    opacity: 0;
  }

  &:hover .slide-up-section1,
  &:hover .slide-up-section2 {
    transform: translateY(0%);
  }

  &:hover .slide-up-section2 {
    opacity: 1;
  }
}
// -----  End of ANIMATION SLIDE UP  ---------------------------------------------
