// ===================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  ██████  ██████  ██       ██████  ██████  ███████
// ██      ██    ██ ██      ██    ██ ██   ██ ██
// ██      ██    ██ ██      ██    ██ ██████  ███████
// ██      ██    ██ ██      ██    ██ ██   ██      ██
//  ██████  ██████  ███████  ██████  ██   ██ ███████
// ===================================================================================
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $color-name, $color in $cog-color-palette {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-bg-#{$color-name} {
          // background-color: var(--#{$color-name});
          background-color: #{$color};
        }
      } @else {
        .bg-#{$color-name} {
          // background-color: var(--#{$color-name});
          background-color: #{$color};
        }
      }
    }
  }
}

.bg-black,
.bg-blue,
.bg-blue-dark,
.bg-blue-light,
.bg-blue-medium,
.bg-gray-black,
.bg-gray-dark,
.bg-green-dark,
.bg-red {
  // color: $white;

  a:not[button] {
    color: $green-light !important;
  }
}

.bg-green {
  a {
    color: $white;
  }
}

.bg-green-light {
  a {
    color: $green-dark;
  }
}

// .bg-gray-light,
// .bg-gray-medium {
//     a {
//         color: $green-light;
//     }
// }

.bg-transparent {
  background: transparent !important;
}

.bg-none,
.bg-none * {
  background: none !important;
}
/* ----  End of BACKGROUND COLOR -------------------------------- */

// ======================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  ██████  ██████   █████   ██████ ██ ████████ ██    ██
// ██    ██ ██   ██ ██   ██ ██      ██    ██     ██  ██
// ██    ██ ██████  ███████ ██      ██    ██      ████
// ██    ██ ██      ██   ██ ██      ██    ██       ██
//  ██████  ██      ██   ██  ██████ ██    ██       ██
// ======================================================================
// $bg-opacitites: 10;
// $bg-opacitites-colors: (
//     "black": $black,
//     "white": $white,
// );
// 
// @for $i from 1 through $bg-opacitites {
//     @each $color-name, $color in $cog-color-palette {
//         .bg-#{$color-name}-opacity-#{$i*10} {
//             // opacity: unquote(".") + $i*10;
//             background-color: transparentize($color, $i/10);
//             // background-color: transparentize($color, ($i*0.10));
//         }
//     }
// }
// -----  End of BACKGROUND OPACITY  ----------

/*====================================================================================

██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
████████ ██ ███    ██ ████████ ███████
   ██    ██ ████   ██    ██    ██
   ██    ██ ██ ██  ██    ██    ███████
   ██    ██ ██  ██ ██    ██         ██
   ██    ██ ██   ████    ██    ███████

====================================================================================*/
// $background-tints: 5;
// @for $i from 1 through $background-tints {
//     @each $color-name, $color in $cog-color-palette {
//         .bg-#{$color-name}-tint#{$i} {
//             background-color: lighten($color, percentage($i / 12)) !important;
//         }
//     }
// }
// -----  End of BACKGROUND TINTS  ----------

/* ====================================================================================

██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
██████   ██████  ███████ ██ ████████ ██  ██████  ███    ██ ███████
██   ██ ██    ██ ██      ██    ██    ██ ██    ██ ████   ██ ██
██████  ██    ██ ███████ ██    ██    ██ ██    ██ ██ ██  ██ ███████
██      ██    ██      ██ ██    ██    ██ ██    ██ ██  ██ ██      ██
██       ██████  ███████ ██    ██    ██  ██████  ██   ████ ███████

==================================================================================== */
$bg-pos: (
  "left"         : "left",
  "right"        : "right",
  "top"          : "top",
  "bottom"       : "bottom",
  "center"       : "center",
  "top-left"     : "top left",
  "top-center"   : "top center",
  "top-right"    : "top right",
  "bottom-left"  : "bottom left",
  "bottom-center": "bottom center",
  "bottom-right" : "bottom right",
  "center-left"  : "center left",
  "center-center": "center center",
  "center-right" : "center right"
);
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $side, $side-name in $bg-pos {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-bg-pos-#{$side} {
          background-position: #{$side-name} !important;
        }
      } @else {
        .bg-pos-#{$side} {
          background-position: #{$side-name} !important;
        }
      }
    }
  }
}

// -----  End of BACKGROUND POSITIONS  ----------

// ====================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
// ███████ ██ ███████ ███████
// ██      ██    ███  ██
// ███████ ██   ███   █████
//      ██ ██  ███    ██
// ███████ ██ ███████ ███████
// ====================================================================================

$bg-size: (
  "unset"  : "unset",
  "cover"  : "cover",
  "contain": "contain"
);
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $size-option, $bg-size-option in $bg-size {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-bg-size-#{$size-option} {
          background-size: #{$bg-size-option} !important;
        }
      } @else {
        .bg-size-#{$size-option} {
          background-size: #{$bg-size-option} !important;
        }
      }
    }
  }
}

// -----  End of BACKGROUND SIZE  ----------

// ====================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  █████  ████████ ████████  █████   ██████ ██   ██ ███    ███ ███████ ███    ██ ████████
// ██   ██    ██       ██    ██   ██ ██      ██   ██ ████  ████ ██      ████   ██    ██
// ███████    ██       ██    ███████ ██      ███████ ██ ████ ██ █████   ██ ██  ██    ██
// ██   ██    ██       ██    ██   ██ ██      ██   ██ ██  ██  ██ ██      ██  ██ ██    ██
// ██   ██    ██       ██    ██   ██  ██████ ██   ██ ██      ██ ███████ ██   ████    ██
// ====================================================================================
.bg-attach-fixed {
  background-attachment: fixed !important;
}
// -----  End of BACKGROUND ATTACHMENT  ----------
