// ===================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  ██████  ██████  ██       ██████  ██████  ███████
// ██      ██    ██ ██      ██    ██ ██   ██ ██
// ██      ██    ██ ██      ██    ██ ██████  ███████
// ██      ██    ██ ██      ██    ██ ██   ██      ██
//  ██████  ██████  ███████  ██████  ██   ██ ███████
// ===================================================================================
@each $color-name, $color in $cog-color-palette {
    .bg-#{$color-name} {
        background-color: $color !important;
    }
}

.bg-blue-dark,
.bg-green-dark,
.bg-red {
    color: $white !important;
}

.bg-transparent {
    background: transparent !important;
}
/* ----  End of BACKGROUND COLOR ------------------------------------------------------------------------------ */

// =============================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  ██████  ██████   █████   ██████ ██ ████████ ██    ██
// ██    ██ ██   ██ ██   ██ ██      ██    ██     ██  ██
// ██    ██ ██████  ███████ ██      ██    ██      ████
// ██    ██ ██      ██   ██ ██      ██    ██       ██
//  ██████  ██      ██   ██  ██████ ██    ██       ██
// =============================================================================================
// $bg-opacitites: 10;
// $bg-opacitites-colors: (
//     "black": $black,
//     "white": $white,
// );
// 
// @for $i from 1 through $bg-opacitites {
//     @each $color-name, $color in $cog-color-palette {
//         .bg-#{$color-name}-opacity-#{$i*10} {
//             // opacity: unquote(".") + $i*10;
//             background-color: transparentize($color, $i/10);
//             // background-color: transparentize($color, ($i*0.10));
//         }
//     }
// }
// -----  End of BACKGROUND OPACITY  ---------------------------------------------

/*====================================================================================

██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
████████ ██ ███    ██ ████████ ███████
   ██    ██ ████   ██    ██    ██
   ██    ██ ██ ██  ██    ██    ███████
   ██    ██ ██  ██ ██    ██         ██
   ██    ██ ██   ████    ██    ███████

====================================================================================*/
// $background-tints: 5;
// @for $i from 1 through $background-tints {
//     @each $color-name, $color in $cog-color-palette {
//         .bg-#{$color-name}-tint#{$i} {
//             background-color: lighten($color, percentage($i / 12)) !important;
//         }
//     }
// }
// -----  End of BACKGROUND TINTS  ---------------------------------------------

/* ====================================================================================

██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
██████   ██████  ███████ ██ ████████ ██  ██████  ███    ██ ███████
██   ██ ██    ██ ██      ██    ██    ██ ██    ██ ████   ██ ██
██████  ██    ██ ███████ ██    ██    ██ ██    ██ ██ ██  ██ ███████
██      ██    ██      ██ ██    ██    ██ ██    ██ ██  ██ ██      ██
██       ██████  ███████ ██    ██    ██  ██████  ██   ████ ███████

==================================================================================== */
$bg-pos: (
    "left"  : "left",
    "right" : "right",
    "top"   : "top",
    "bottom": "bottom",
    "center": "center"
);
@each $size in $breakpoint-classes {
    @include breakpoint($size) {
        @each $side, $side-name in $bg-pos {
            .#{$size}-bg-pos-#{$side} {
                background-position: #{$side-name} !important;
            }
        }
    }
}

// -----  End of BACKGROUND POSITIONS  ---------------------------------------------

// ====================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
// ███████ ██ ███████ ███████
// ██      ██    ███  ██
// ███████ ██   ███   █████
//      ██ ██  ███    ██
// ███████ ██ ███████ ███████
// ====================================================================================

$bg-size: (
    "unset"  : "unset",
    "cover"  : "cover",
    "contain": "contain"
);
@each $size in $breakpoint-classes {
    @include breakpoint($size) {
        @each $size-option, $bg-size-option in $bg-size {
            .#{$size}-bg-size-#{$size-option} {
                background-size: #{$bg-size-option} !important;
            }
        }
    }
}

// -----  End of BACKGROUND SIZE  ---------------------------------------------

// ====================================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  █████  ████████ ████████  █████   ██████ ██   ██ ███    ███ ███████ ███    ██ ████████
// ██   ██    ██       ██    ██   ██ ██      ██   ██ ████  ████ ██      ████   ██    ██
// ███████    ██       ██    ███████ ██      ███████ ██ ████ ██ █████   ██ ██  ██    ██
// ██   ██    ██       ██    ██   ██ ██      ██   ██ ██  ██  ██ ██      ██  ██ ██    ██
// ██   ██    ██       ██    ██   ██  ██████ ██   ██ ██      ██ ███████ ██   ████    ██
// ====================================================================================
.bg-attach-fixed {
    background-attachment: fixed !important;
}
// -----  End of BACKGROUND ATTACHMENT  ---------------------------------------------
