$blue: rgba(0,51,160,1) !default;
$blue-light: rgba(50,141,255,1) !default;
$blue-medium: rgba(45,103,255,1) !default;
$blue-dark: rgba(0,0,99,1) !default;
$green: rgba(0,177,64,1) !default;
$green-light: rgba(0,228,82,1) !default;
$green-dark: rgba(0,126,46,1) !default;
$white: rgba(255,255,255,1) !default;
$black: rgba(0,0,0,1) !default;
$blue-05: rgba($blue, 0.05) !default;
$blue-10: rgba($blue, 0.1) !default;
$blue-15: rgba($blue, 0.15) !default;
$blue-30: rgba($blue, 0.3) !default;
$blue-50: rgba($blue, 0.5) !default;
$blue-60: rgba($blue, 0.6) !default;
$blue-85: rgba($blue, 0.85) !default;
$blue-dark-05: rgba($blue-dark, 0.05) !default;
$blue-dark-10: rgba($blue-dark, 0.1) !default;
$blue-dark-15: rgba($blue-dark, 0.15) !default;
$blue-dark-30: rgba($blue-dark, 0.3) !default;
$blue-dark-50: rgba($blue-dark, 0.5) !default;
$blue-dark-60: rgba($blue-dark, 0.6) !default;
$blue-dark-85: rgba($blue-dark, 0.85) !default;
$blue-light-05: rgba($blue-light, 0.05) !default;
$blue-light-10: rgba($blue-light, 0.1) !default;
$blue-light-15: rgba($blue-light, 0.15) !default;
$blue-light-30: rgba($blue-light, 0.3) !default;
$blue-light-50: rgba($blue-light, 0.5) !default;
$blue-light-60: rgba($blue-light, 0.6) !default;
$blue-light-85: rgba($blue-light, 0.85) !default;
$white-05: rgba($white, 0.05) !default;
$white-10: rgba($white, 0.1) !default;
$white-15: rgba($white, 0.15) !default;
$white-30: rgba($white, 0.3) !default;
$white-50: rgba($white, 0.5) !default;
$white-60: rgba($white, 0.6) !default;
$white-85: rgba($white, 0.85) !default;
$black-05: rgba($black, 0.05) !default;
$black-10: rgba($black, 0.10) !default;
$black-15: rgba($black, 0.15) !default;
$black-30: rgba($black, 0.3) !default;
$black-50: rgba($black, 0.5) !default;
$black-60: rgba($black, 0.6) !default;
$black-85: rgba($black, 0.85) !default;
$gray-lightest: $black-05 !default;
$gray-lighter: $black-10 !default;
$gray-light: $black-15 !default;
$gray-medium: $black-30 !default;
$gray-dark: $black-60 !default;
$darkMode-black: rgba(25,25,25,1) !default;
$red: rgba(244,99,58,1) !default;

$cog-color-palette: (
  "blue"        : $blue,
  blue-light    : $blue-light,
  blue-medium   : $blue-medium,
  blue-dark     : $blue-dark,
  "green"       : $green,
  green-light   : $green-light,
  green-dark    : $green-dark,
  "white"       : $white,
  "black"       : $black,
  blue-05       : $blue-05,
  blue-10       : $blue-10,
  blue-15       : $blue-15,
  blue-30       : $blue-30,
  blue-60       : $blue-60,
  blue-85       : $blue-85,
  blue-dark-05  : $blue-dark-05,
  blue-dark-10  : $blue-dark-10,
  blue-dark-15  : $blue-dark-15,
  blue-dark-30  : $blue-dark-30,
  blue-dark-60  : $blue-dark-60,
  blue-dark-85  : $blue-dark-85,
  blue-light-05 : $blue-light-05,
  blue-light-10 : $blue-light-10,
  blue-light-15 : $blue-light-15,
  blue-light-30 : $blue-light-30,
  blue-light-60 : $blue-light-60,
  blue-light-85 : $blue-light-85,
  white-05      : $white-05,
  white-10      : $white-10,
  white-15      : $white-15,
  white-30      : $white-30,
  white-60      : $white-60,
  white-85      : $white-85,
  black-05      : $black-05,
  black-10      : $black-10,
  black-15      : $black-15,
  black-30      : $black-30,
  black-60      : $black-60,
  black-85      : $black-85,
  gray-lightest : darken($white, 05),
  gray-lighter  : darken($white, 10),
  gray-light    : darken($white, 15),
  gray-medium   : darken($white, 30),
  gray-dark     : darken($white, 60),
  gray-darker   : darken($white, 80),
  darkMode-black: $darkMode-black,
  "red"         : $red,
  primary       : $blue,
  secondary     : $black-15,
  success       : $green,
  warning       : $red,
  alert         : $red
);

$border-palette: (
  "blue"     : $blue,
  blue-light : $blue-light,
  blue-medium: $blue-medium,
  blue-dark  : $blue-dark,
  "green"    : $green,
  green-light: $green-light,
  gray-light : darken($white, 15),
  gray-medium: darken($white, 30),
  gray-dark  : darken($white, 60),
  "white"    : $white,
  "black"    : $black,
);

$image-color-overlay-palette: (
  "blue"     : $blue,
  blue-light : $blue-light,
  blue-medium: $blue-medium,
  blue-dark  : $blue-dark,
  "white"    : $white,
  "black"    : $black,
);

$button-palette: (
  "green"    : $green,
  green-light: $green-light,
);

:root {
  @each $name, $color in $cog-color-palette {
    --#{$name}: #{$color};
  }
}

// ===================================================================================
// ██████   █████  ██████  ██   ██     ███    ███  ██████  ██████  ███████
// ██   ██ ██   ██ ██   ██ ██  ██      ████  ████ ██    ██ ██   ██ ██
// ██   ██ ███████ ██████  █████       ██ ████ ██ ██    ██ ██   ██ █████
// ██   ██ ██   ██ ██   ██ ██  ██      ██  ██  ██ ██    ██ ██   ██ ██
// ██████  ██   ██ ██   ██ ██   ██     ██      ██  ██████  ██████  ███████
// =================================================================================== 

@media (prefers-color-scheme: dark) {

  $cog-color-palette: (
    // "blue"     : $blue-medium,
    // "white"    : invert($white),
    // gray-light : invert($black-15),
    // gray-medium: invert($black-30),
    // gray-dark  : invert($black-60),
    // "black"    : invert($black)
  );

  :root {
    @each $name, $color in $cog-color-palette {
      --#{$name}: #{$color};
    }
  }
}

// @function hexToRGB($hex) {
//   @return red($hex), green($hex), blue($hex);
// }

// :root {
//   --blue            : #{$blue};
//   --blue-rgb        : #{hexToRGB($blue)};
//   --blue-light      : #{$blue-light};
//   --blue-light-rgb  : #{hexToRGB($blue-light)};
//   --blue-medium     : #{$blue-medium};
//   --blue-medium-rgb : #{hexToRGB($blue-medium)};
//   --blue-dark       : #{$blue-dark};
//   --blue-dark-rgb   : #{hexToRGB($blue-dark)};
//   --green           : #{$green};
//   --green-rgb       : #{hexToRGB($green)};
//   --green-light     : #{$green-light};
//   --green-light-rgb : #{hexToRGB($green-light)};
//   --green-dark      : #{$green-dark};
//   --green-dark-rgb  : #{hexToRGB($green-dark)};
//   --white           : #{$white};
//   --white-rgb       : #{hexToRGB($white)};
//   --white-light     : #{$white-15};
//   --white-light-rgb : #{hexToRGB($white-15)};
//   --white-medium    : #{$white-30};
//   --white-medium-rgb: #{hexToRGB($white-30)};
//   --white-dark      : #{$white-60};
//   --white-dark-rgb  : #{hexToRGB($white-60)};
//   --gray-light      : #{$black-15};
//   --gray-light-rgb  : #{hexToRGB($black-15)};
//   --gray-medium     : #{$black-30};
//   --gray-medium-rgb : #{hexToRGB($black-30)};
//   --gray-dark       : #{$black-60};
//   --gray-dark-rgb   : #{hexToRGB($black-60)};
//   --black           : #{$black};
//   --black-rgb       : #{hexToRGB($black)};
//   --red             : #{$red};
//   --red-rgb         : #{hexToRGB($red)};
// }
