// ===================================================================================
// ██████   █████  ██████  ██   ██     ███    ███  ██████  ██████  ███████
// ██   ██ ██   ██ ██   ██ ██  ██      ████  ████ ██    ██ ██   ██ ██
// ██   ██ ███████ ██████  █████       ██ ████ ██ ██    ██ ██   ██ █████
// ██   ██ ██   ██ ██   ██ ██  ██      ██  ██  ██ ██    ██ ██   ██ ██
// ██████  ██   ██ ██   ██ ██   ██     ██      ██  ██████  ██████  ███████
// ===================================================================================
// $darkmode-black: #121212;
// 
// @mixin darkMode-settings {
//     body {
//         background: $darkmode-black;
//         color     : invert($black);
//     }
// 
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6 {
//         color: $blue-medium;
//     }
// 
//     cite,
//     em,
//     i,
//     p,
//     strong {
//         // color: $white;
//     }
// 
//     [class*="text-black"] {
//         // color: $black-15 !important;
//     }
// 
//     a:active,
//     a:focus,
//     a:link,
//     a:visited {
//         color     : adjust-color($green, $saturation: 50, $lightness: 20);
//         transition: all, 0.3s;
//     }
// 
//     a:hover {
//         color: lighten($green, 25%);
//     }
// 
//     .bg-black {
//         // background: lighten($darkmode-black, 5%);
//     }
// 
//     .bg-gray-light {
//         // background: $darkmode-black;
//     }
// 
//     .bg-white,
//     .panelCallout {
//         // background: darken($white, 90%);
//     }
// 
//     hr {
//         // border-bottom-color: rgba($white, .2);
//     }
// 
//     footer {
//         // background: $darkmode-black;
//     }
// 
//     .tabs-title {
//         // background  : $darkmode-black;
//         // border-color: darken($white, 80%);
//     }
// 
//     .callout,
//     .card,
//     .tabs,
//     .tabs-content,
//     .tabs-title > a:focus,
//     .tabs-title > a[aria-selected='true'],
//     .tabs-title.is-active {
//         // // background  : rgba($white, .05);
//         // background  : darken($white, 85%);
//         // // border-color: rgba($white, .1);
//         // border-color: darken($white, 80%);
//     }
// 
//     .tabs-title > a {
//         // color: $white;
//     }
// 
//     .button {
//         isolation: isolate;
//     }
// 
//     .select2-container--default .select2-selection--single,
//     .select2-dropdown {
//         // border    : 2px solid $black-30;
//         // color     : $black-15;
//         // background: darken($white, 80%);
// 
//         *,
//         .select2-selection__placeholder {
//             // color: $white;
//         }
//     }
// 
//     .select2-search__field {
//         // color: $black;
//     }
// 
//     .dropdown.menu li ul,
//     .select2-container--default .select2-results__option[aria-selected=true] {
//         // // background: rgba($white, .1);
//         // background: darken($white, 80%);
//     }
// 
//     .dropdown.menu li ul a,
//     .select2-container--default .select2-selection--single .select2-selection__rendered {
//         // color: $white;
//     }
// 
//     .sidenoteLeft,
//     .sidenoteRight {
//         // color: lighten($black, 65%);
//     }
// 
//     .vertical-divider {
//         // color: $white;
// 
//         &:after,
//         &:before {
//             // border-color: rgba($white, .1);
//         }
//     }
// 
//     .darkMode-invert {
//         filter: invert(1);
//     }
// 
//     footer {
//         a,
//         a:link,
//         h5 {
//             // color: $white;
//         }
//     }
// }
// 
// .darkmode-toggle {
//     z-index               : 500;
//     font-weight           : 600;
//     color                 : $white;
//     -webkit-font-smoothing: auto;
//     text-shadow           : -1px 0 $white, 0 1px $white;
// }
// 
// .darkmode--activated {
//     .darkmode-toggle {
//         color      : $black;
//         text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
//     }
//     // @include darkMode-settings;
// }
@media (prefers-color-scheme: dark) {
  // @include darkMode-settings;
  body {
    background: var(--darkMode-black);
    color     : var(--black);
  }

  &.secondary {
    background: var(--gray-light) !important;
  }

  blockquote {
    color       : var(--gray-dark) !important;
    border-color: var(--gray-dark) !important;

    cite {
      color: var(--gray-dark) !important;
    }
  }

  [class*="content"],
  [class*="is-active"],
  [class*="is-active"] a:not(.button) {
    background: var(--white) !important;
    color     : var(--black) !important;
  }

  [class*="title"] a:not(.button) {
    color: var(--black) !important;
  }
}
