// ===================================================================================
// ██████  ██ ███████ ██████  ██       █████  ██    ██ ███████
// ██   ██ ██ ██      ██   ██ ██      ██   ██  ██  ██  ██
// ██   ██ ██ ███████ ██████  ██      ███████   ████   ███████
// ██   ██ ██      ██ ██      ██      ██   ██    ██         ██
// ██████  ██ ███████ ██      ███████ ██   ██    ██    ███████
// ===================================================================================
$breakpoint-classes: (small medium large);

@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $display in (block, inline, inline-block, flex) {
      @if $size != $-zf-zero-breakpoint {
        %#{$size}-#{$display},
        .#{$size}-#{$display} {
          display: $display !important;
        }
      } @else {
        %#{$display},
        .#{$display} {
          display: $display !important;
        }
      }
    }
  }
}

$overflows: "overflow-hidden" null hidden, "overflow-hidden-x" "-x" hidden, "overflow-hidden-y" "-y" hidden, "overflow-scroll" null scroll, "overflow-scroll-x" "-x" scroll, "overflow-scroll-y" "-y" scroll, "overflow-visible" null visible;
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $name, $direction, $type in $overflows {
      @if $size != $-zf-zero-breakpoint {
        %#{$size}-#{$name},
        .#{$size}-#{$name} {
          overflow#{$direction}: $type !important;
        }
      } @else {
        %#{$name},
        .#{$name} {
          overflow#{$direction}: $type !important;
        }
      }
    }
  }
}
