/* ====================================================================================
███████ ██ ██      ██
██      ██ ██      ██
█████   ██ ██      ██
██      ██ ██      ██
██      ██ ███████ ███████
==================================================================================== */
// @each $color-name, $color in palette {
//     .fill-#{$color-name} {
//         fill: $color !important;
//     }
// }
/* -----  End of FILL COLORS  --------------------------------------------- */
