// ======================================================================
// ██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
// ██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
// ██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
// ██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
// ██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
//  ██████  ██████   █████  ██████  ██ ███████ ███    ██ ████████ ███████
// ██       ██   ██ ██   ██ ██   ██ ██ ██      ████   ██    ██    ██
// ██   ███ ██████  ███████ ██   ██ ██ █████   ██ ██  ██    ██    ███████
// ██    ██ ██   ██ ██   ██ ██   ██ ██ ██      ██  ██ ██    ██         ██
//  ██████  ██   ██ ██   ██ ██████  ██ ███████ ██   ████    ██    ███████
// ======================================================================

%bg-grd-blue-radial,
.bg-grd-blue-radial {
  background: radial-gradient(circle, $blue 0%, $blue-dark 50%, darken($blue, 23) 85%);
}

%bg-grd-blue-radial-top,
.bg-grd-blue-radial-top {
  background: radial-gradient(circle at top center, $blue 0%, $blue-dark 50%, darken($blue, 23) 85%);
}

.bg-grd-blue-radial-bottom {
  background: radial-gradient(circle at bottom center, $blue 0%, $blue-dark 50%, darken($blue, 23) 85%);
}

.bg-grd-dark-blue-dark {
  background: linear-gradient(90deg, darken($blue-dark, 10%) 0%, $blue-dark 15%, $blue 50%, $blue-dark 85%, darken($blue-dark, 10%) 100%);
}

.bg-grd-tb-dark-blue-medium {
  background: linear-gradient(0deg, $blue-dark 0%, $blue-medium 100%);
}

.bg-grd-bt-dark-blue-medium {
  background: linear-gradient(180deg, $blue-dark 0%, $blue-medium 100%);
}

.bg-grd-lr-dark-blue-medium {
  background: linear-gradient(90deg, $blue-dark 0%, $blue-medium 100%);
}

.bg-grd-rl-dark-blue-medium {
  background: linear-gradient(-90deg, $blue-dark 0%, $blue-medium 100%);
}

.bg-grd-tb-dark-blue {
  background: linear-gradient(0deg, $blue-dark 0%, $blue 100%);
}

.bg-grd-lr-dark-blue {
  background: linear-gradient(90deg, $blue-dark 0%, $blue 100%);
}

// -----  End of BACKGROUND GRADIENTS  ----------
