// ===================================================================================
// ██   ██ ███████ ██  ██████  ██   ██ ████████ ███████
// ██   ██ ██      ██ ██       ██   ██    ██    ██
// ███████ █████   ██ ██   ███ ███████    ██    ███████
// ██   ██ ██      ██ ██    ██ ██   ██    ██         ██
// ██   ██ ███████ ██  ██████  ██   ██    ██    ███████
// ===================================================================================

$heights: 20;
// @for $i from 7 through $heights {
//     .ht#{$i} {
//         height: $i + px !important;
//     }
// }
@for $i from 1 through $heights {
    .h#{$i*5}vh {
        height: $i*5 + vh !important;
    };
}
@each $size in $breakpoint-classes {
    @include breakpoint($size) {
        .#{$size}-h25 {
            height: 25%;
        }

        .#{$size}-h33 {
            height: 33.3333%;
        }

        .#{$size}-h50 {
            height: 50%;
        }

        .#{$size}-h66 {
            height: 66.6666%;
        }

        .#{$size}-h75 {
            height: 75%;
        }

    }
}

.h100 {
    height: 100%;
    // min-height: 100%;
}

.h500px {
    height: 500px;
}

.h300px {
    height: 300px;
}

.h100vh {
    height: 100vh;
}
