/* ====================================================================================
██  ██████  ██████  ███    ██
██ ██      ██    ██ ████   ██
██ ██      ██    ██ ██ ██  ██
██ ██      ██    ██ ██  ██ ██
██  ██████  ██████  ██   ████
███████  ██████  ███    ██ ████████
██      ██    ██ ████   ██    ██
█████   ██    ██ ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██
██       ██████  ██   ████    ██
==================================================================================== */
.logo-facebook,
.logo-linkedin,
.logo-twitter-bird,
.navigation-drawer {
  font-weight: normal;
}

.icomoon-liga,
i {
  display    : inline-block;
  font-weight: normal;
}
/* -----  End of ICON FONT  ---------- */
/* ====================================================================================

██  ██████  ██████  ███    ██ ███████
██ ██      ██    ██ ████   ██ ██
██ ██      ██    ██ ██ ██  ██ ███████
██ ██      ██    ██ ██  ██ ██      ██
██  ██████  ██████  ██   ████ ███████

==================================================================================== */
.icon-left svg {
  float       : left;
  margin-right: 0.7em;
}

.icon-right svg {
  float      : right;
  margin-left: 0.85em;
}
/* -----  End of ICONS  ---------- */
