// ===================================================================================
// ██████   ██████  ███████ ██ ████████ ██  ██████  ███    ██ ███████
// ██   ██ ██    ██ ██      ██    ██    ██ ██    ██ ████   ██ ██
// ██████  ██    ██ ███████ ██    ██    ██ ██    ██ ██ ██  ██ ███████
// ██      ██    ██      ██ ██    ██    ██ ██    ██ ██  ██ ██      ██
// ██       ██████  ███████ ██    ██    ██  ██████  ██   ████ ███████
// ===================================================================================
$breakpoint-classes: (small medium large);
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $position in (inherit, relative, absolute, fixed) {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-#{$position} {
          position: $position !important;
        }
      } @else {
        .#{$position} {
          position: $position !important;
        }
      }
    }
  }
}
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $position-side, $position-amount in (top: 0, right: 0, bottom: 0, left: 0) {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-pos-#{$position-side} {
          #{$position-side}: $position-amount !important;
        }
        
        .#{$size}-pos-#{$position-side}-auto {
          #{$position-side}: auto !important;
        }
      } @else {
        .pos-#{$position-side} {
          #{$position-side}: $position-amount !important;
        }
        
        .pos-#{$position-side}-auto {
          #{$position-side}: auto !important;
        }
      }
    }
  }
}
