// ===================================================================================
// ██████   ██████  ███████ ██ ████████ ██  ██████  ███    ██ ███████
// ██   ██ ██    ██ ██      ██    ██    ██ ██    ██ ████   ██ ██
// ██████  ██    ██ ███████ ██    ██    ██ ██    ██ ██ ██  ██ ███████
// ██      ██    ██      ██ ██    ██    ██ ██    ██ ██  ██ ██      ██
// ██       ██████  ███████ ██    ██    ██  ██████  ██   ████ ███████
// ===================================================================================

@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @each $position in (inherit, relative, absolute, fixed) {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-#{$position} {
          position: $position !important;
        }
      } @else {
        .#{$position} {
          position: $position !important;
        }
      }
    }
  }
}

%pos-top,
.pos-top {
  top: 0;
}

%pos-bottom,
.pos-bottom {
  bottom: 0;
}

.pos-left {
  left: 0;
}

.pos-right {
  right: 0;
}

.pos-middle {
  top: 50%;
}
