// ===================================================================================
// ██     ██ ██ ██████  ████████ ██   ██ ███████
// ██     ██ ██ ██   ██    ██    ██   ██ ██
// ██  █  ██ ██ ██   ██    ██    ███████ ███████
// ██ ███ ██ ██ ██   ██    ██    ██   ██      ██
//  ███ ███  ██ ██████     ██    ██   ██ ███████
// ===================================================================================

$widths: 20;
@for $i from 1 through $widths {
  .w#{$i*5} {
    width: $i*5%;
    // max-width: $i*5%;
  }
}
@for $i from 1 through $widths {
  .max-w#{$i*5} {
    max-width: $i*5%;
  }
}
@for $i from 1 through $widths {
  .min-w#{$i*5} {
    min-width: $i*5%;
  }
}

@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    .#{$size}-w66 {
      width: 66%;
    }

    .#{$size}-w33 {
      width: 33%;
    }
  }
}

.w100px {
  width: 100px;
}

.w100vw {
  width: 100vw;
}

// ===================================================================================
// ██   ██ ███████ ██  ██████  ██   ██ ████████ ███████
// ██   ██ ██      ██ ██       ██   ██    ██    ██
// ███████ █████   ██ ██   ███ ███████    ██    ███████
// ██   ██ ██      ██ ██    ██ ██   ██    ██         ██
// ██   ██ ███████ ██  ██████  ██   ██    ██    ███████
// ===================================================================================

$heights: 20;
// @for $i from 7 through $heights {
//     .ht#{$i} {
//         height: $i + px !important;
//     }
// }
@for $i from 1 through $heights {
  .h#{$i*5}vh {
    height: $i*5 + vh !important;
  };
}

$vh-sizes: 10;
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @for $i from 1 through $vh-sizes {
      .#{$size}-h#{$i*10}vh {
        // height    : $i*10 + vh !important;
        min-height: $i*10 + vh !important;
        display   : flex;
      }
    }
  }
}
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    .#{$size}-h25 {
      height: 25%;
    }

    .#{$size}-h33 {
      height: 33.3333%;
    }

    .#{$size}-h50 {
      height: 50%;
    }

    .#{$size}-h66 {
      height: 66.6666%;
    }

    .#{$size}-h75 {
      height: 75%;
    }

  }
}

.h100 {
  height: 100%;
  // min-height: 100%;
}

.h500px {
  height: 500px;
}

.h300px {
  height: 300px;
}

.h100vh {
  height: 100vh;
}

.wh100 {
  width : 100%;
  height: 100%;
}
