// ===================================================================================
// ██     ██ ██ ██████  ████████ ██   ██ ███████
// ██     ██ ██ ██   ██    ██    ██   ██ ██
// ██  █  ██ ██ ██   ██    ██    ███████ ███████
// ██ ███ ██ ██ ██   ██    ██    ██   ██      ██
//  ███ ███  ██ ██████     ██    ██   ██ ███████
// ===================================================================================

$widths: 20;
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @for $i from 1 through $widths {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-w#{$i*5} {
          width: $i*5%;
        }

        .#{$size}-max-w#{$i*5} {
          max-width: $i*5%;
        }

        .#{$size}-min-w#{$i*5} {
          min-width: $i*5%;
        }
      } @else {
        .w#{$i*5} {
          width: $i*5%;
        }

        .max-w#{$i*5} {
          max-width: $i*5%;
        }

        .min-w#{$i*5} {
          min-width: $i*5%;
        }
      }

      .#{$size}-w66 {
        width: 66%;
      }

      .#{$size}-w33 {
        width: 33%;
      }
    }
  }
}

.w100px {
  width: 100px;
}

.w100vw {
  width: 100vw;
}

// ===================================================================================
// ██   ██ ███████ ██  ██████  ██   ██ ████████ ███████
// ██   ██ ██      ██ ██       ██   ██    ██    ██
// ███████ █████   ██ ██   ███ ███████    ██    ███████
// ██   ██ ██      ██ ██    ██ ██   ██    ██         ██
// ██   ██ ███████ ██  ██████  ██   ██    ██    ███████
// ===================================================================================

$heights: 20;

@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    @for $i from 1 through $heights {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-h#{$i*5} {
          height: $i*5% !important;
        }
      } @else {
        .h#{$i*5} {
          height: $i*5% !important;
        }
      }
    }
    @for $i from 1 through $heights {
      @if $size != $-zf-zero-breakpoint {
        .#{$size}-h#{$i*5}vh {
          min-height: $i*5 + vh !important;
          display   : flex;
        }
      } @else {
        .h#{$i*5}vh {
          min-height: $i*5 + vh !important;
          display   : flex;
        }
      }
    }
  }
}

@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    .#{$size}-h25 {
      height: 25%;
    }

    .#{$size}-h33 {
      height: 33.3333%;
    }

    .#{$size}-h50 {
      height: 50%;
    }

    .#{$size}-h66 {
      height: 66.6666%;
    }

    .#{$size}-h75 {
      height: 75%;
    }

  }
}

.h500px {
  height: 500px;
}

.h300px {
  height: 300px;
}

.wh100 {
  width : 100%;
  height: 100%;
}
