/* ====================================================================================
██    ██ ██ ██████  ███████  ██████
██    ██ ██ ██   ██ ██      ██    ██
██    ██ ██ ██   ██ █████   ██    ██
 ██  ██  ██ ██   ██ ██      ██    ██
  ████   ██ ▖██ ██████  ███████  ██████
██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████
====================================================================================*/
.video-background {
    position: relative;
    overflow: hidden;

    video {
        position  : absolute;
        z-index   : -1;
        top       : 50%;
        left      : 50%;
        width     : 100%;
        min-width : 100%;
        min-height: 100%;
        transform : translate(-50%,-50%);
        object-fit: cover;
    }
}

div iframe.video {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}
// -----  End of VIDEO BACKGROUND  ---------------------------------------------
