// ===================================================================================
// ██     ██ ██ ██████  ████████ ██   ██ ███████
// ██     ██ ██ ██   ██    ██    ██   ██ ██
// ██  █  ██ ██ ██   ██    ██    ███████ ███████
// ██ ███ ██ ██ ██   ██    ██    ██   ██      ██
//  ███ ███  ██ ██████     ██    ██   ██ ███████
// ===================================================================================

$widths: 20;
@for $i from 1 through $widths {
    .w#{$i*5} {
        width: $i*5%;
        // max-width: $i*5%;
    }
}
@for $i from 1 through $widths {
    .max-w#{$i*5} {
        max-width: $i*5%;
    }
}
@for $i from 1 through $widths {
    .min-w#{$i*5} {
        min-width: $i*5%;
    }
}

@each $size in $breakpoint-classes {
    @include breakpoint($size) {
        .#{$size}-w66 {
            width: 66%;
        }

        .#{$size}-w33 {
            width: 33%;
        }
    }
}

.w100px {
    width: 100px;
}

.w100vw {
    width: 100vw;
}
