@import "variables";

@font-face {
  font-family : '#{$icomoon-font-family}';
  src         : url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kmtzh5");
  src         : url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kmtzh5#iefix") format('embedded-opentype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?kmtzh5") format('truetype'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?kmtzh5") format('woff'), url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?kmtzh5##{$icomoon-font-family}") format('svg');
  font-weight : normal;
  font-style  : normal;
  font-display: block;
}

.icomoon-liga,
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family                   : '#{$icomoon-font-family}' !important;
  speak                         : none;
  font-style                    : normal;
  font-weight                   : normal;
  font-variant                  : normal;
  text-transform                : none;
  line-height                   : 1;

  /* Enable Ligatures ================ */
  letter-spacing                : 0;
  -webkit-font-feature-settings : "liga";
  -moz-font-feature-settings    : "liga=1";
  -moz-font-feature-settings    : "liga";
  -ms-font-feature-settings     : "liga" 1;
  font-feature-settings         : "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures        : discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing        : antialiased;
  -moz-osx-font-smoothing       : grayscale;
}

.account-group {
  &:after {
    content: $account-group;
  }
}

.add-circle {
  &:after {
    content: $add-circle;
  }
}

.arrow-box-up {
  &:after {
    content: $arrow-box-up;
  }
}

.arrow-down {
  &:after {
    content: $arrow-down;
  }
}

.arrow-down-solid {
  &:after {
    content: $arrow-down-solid;
  }
}

.arrow-left {
  &:after {
    content: $arrow-left;
  }
}

.arrow-left-solid {
  &:after {
    content: $arrow-left-solid;
  }
}

.arrow-right {
  &:after {
    content: $arrow-right;
  }
}

.arrow-solid-right {
  &:after {
    content: $arrow-solid-right;
  }
}

.arrow-up {
  &:after {
    content: $arrow-up;
  }
}

.arrow-up-solid {
  &:after {
    content: $arrow-up-solid;
  }
}

.bank-notes {
  &:after {
    content: $bank-notes;
  }
}

.barcode-scan {
  &:after {
    content: $barcode-scan;
  }
}

.bin {
  &:after {
    content: $bin;
  }
}

.bluetooth {
  &:after {
    content: $bluetooth;
  }
}

.book-open {
  &:after {
    content: $book-open;
  }
}

.bookmark {
  &:after {
    content: $bookmark;
  }
}

.box {
  &:after {
    content: $box;
  }
}

.bubble-chat-typing {
  &:after {
    content: $bubble-chat-typing;
  }
}

.calendar {
  &:after {
    content: $calendar;
  }
}

.camera {
  &:after {
    content: $camera;
  }
}

.check-box {
  &:after {
    content: $check-box;
  }
}

.check-circle {
  &:after {
    content: $check-circle;
  }
}

.check-circle-2 {
  &:after {
    content: $check-circle-2;
  }
}

.clock {
  &:after {
    content: $clock;
  }
}

.clock-2 {
  &:after {
    content: $clock-2;
  }
}

.close {
  &:after {
    content: $close;
  }
}

.cloud {
  &:after {
    content: $cloud;
  }
}

.cog {
  &:after {
    content: $cog;
  }
}

.computer-bug {
  &:after {
    content: $computer-bug;
  }
}

.computer-screen {
  &:after {
    content: $computer-screen;
  }
}

.credit-card {
  &:after {
    content: $credit-card;
  }
}

.download {
  &:after {
    content: $download;
  }
}

.email {
  &:after {
    content: $email;
  }
}

.expand {
  &:after {
    content: $expand;
  }
}

.file-acrobat {
  &:after {
    content: $file-acrobat;
  }
}

.file-favorite-star {
  &:after {
    content: $file-favorite-star;
  }
}

.file-new {
  &:after {
    content: $file-new;
  }
}

.file-view {
  &:after {
    content: $file-view;
  }
}

.file-word {
  &:after {
    content: $file-word;
  }
}

.filter {
  &:after {
    content: $filter;
  }
}

.folder {
  &:after {
    content: $folder;
  }
}

.folder-add {
  &:after {
    content: $folder-add;
  }
}

.folder-view {
  &:after {
    content: $folder-view;
  }
}

.gauge {
  &:after {
    content: $gauge;
  }
}

.globe {
  &:after {
    content: $globe;
  }
}

.graph-bar {
  &:after {
    content: $graph-bar;
  }
}

.graph-pie {
  &:after {
    content: $graph-pie;
  }
}

.group-add {
  &:after {
    content: $group-add;
  }
}

.headphone {
  &:after {
    content: $headphone;
  }
}

.help-circle {
  &:after {
    content: $help-circle;
  }
}

.hierarchy {
  &:after {
    content: $hierarchy;
  }
}

.home {
  &:after {
    content: $home;
  }
}

.launch {
  &:after {
    content: $launch;
  }
}

.layers {
  &:after {
    content: $layers;
  }
}

.leaf {
  &:after {
    content: $leaf;
  }
}

.lightbulb {
  &:after {
    content: $lightbulb;
  }
}

.link {
  &:after {
    content: $link;
  }
}

.location-pin {
  &:after {
    content: $location-pin;
  }
}

.location-pin-solid {
  &:after {
    content: $location-pin-solid;
  }
}

.lock-close {
  &:after {
    content: $lock-close;
  }
}

.lock-open {
  &:after {
    content: $lock-open;
  }
}

.logo-facebook {
  &:after {
    content: $logo-facebook;
  }
}

.logo-linkedin {
  &:after {
    content: $logo-linkedin;
  }
}

.logo-twitter-bird {
  &:after {
    content: $logo-twitter-bird;
  }
}

.logout {
  &:after {
    content: $logout;
  }
}

.map-pin {
  &:after {
    content: $map-pin;
  }
}

.medical-box {
  &:after {
    content: $medical-box;
  }
}

.mobile-phone-portrait {
  &:after {
    content: $mobile-phone-portrait;
  }
}

.navigation-drawer {
  &:after {
    content: $navigation-drawer;
  }
}

.network-signal {
  &:after {
    content: $network-signal;
  }
}

.network-user {
  &:after {
    content: $network-user;
  }
}

.pencil {
  &:after {
    content: $pencil;
  }
}

.person {
  &:after {
    content: $person;
  }
}

.picture {
  &:after {
    content: $picture;
  }
}

.play-button {
  &:after {
    content: $play-button;
  }
}

.projector-screen {
  &:after {
    content: $projector-screen;
  }
}

.qr-code {
  &:after {
    content: $qr-code;
  }
}

.remove-circle {
  &:after {
    content: $remove-circle;
  }
}

.remove-circle-solid {
  &:after {
    content: $remove-circle-solid;
  }
}

.report-problem-circle {
  &:after {
    content: $report-problem-circle;
  }
}

.report-problem-triangle {
  &:after {
    content: $report-problem-triangle;
  }
}

.rss-feed {
  &:after {
    content: $rss-feed;
  }
}

.search {
  &:after {
    content: $search;
  }
}

.server {
  &:after {
    content: $server;
  }
}

.share {
  &:after {
    content: $share;
  }
}

.share-solid {
  &:after {
    content: $share-solid;
  }
}

.shopping-cart {
  &:after {
    content: $shopping-cart;
  }
}

.smartwatch {
  &:after {
    content: $smartwatch;
  }
}

.star {
  &:after {
    content: $star;
  }
}

.subtract-circle {
  &:after {
    content: $subtract-circle;
  }
}

.synchronize {
  &:after {
    content: $synchronize;
  }
}

.synchronize-2 {
  &:after {
    content: $synchronize-2;
  }
}

.tablet-ipad {
  &:after {
    content: $tablet-ipad;
  }
}

.toolbox {
  &:after {
    content: $toolbox;
  }
}

.truck {
  &:after {
    content: $truck;
  }
}

.upload {
  &:after {
    content: $upload;
  }
}

.video-camera {
  &:after {
    content: $video-camera;
  }
}

.view {
  &:after {
    content: $view;
  }
}

.window-code {
  &:after {
    content: $window-code;
  }
}

.window-search-engine {
  &:after {
    content: $window-search-engine;
  }
}

.zoom-in {
  &:after {
    content: $zoom-in;
  }
}

.zoom-out {
  &:after {
    content: $zoom-out;
  }
}

.expand-diagonal {
  &:after {
    content: $expand-diagonal;
  }
}

.control-previous {
  &:after {
    content: $control-previous;
  }
}

.control-previous-solid {
  &:after {
    content: $control-previous-solid;
  }
}

.control-rewind {
  &:after {
    content: $control-rewind;
  }
}

.control-rewind-solid {
  &:after {
    content: $control-rewind-solid;
  }
}

.control-play {
  &:after {
    content: $control-play;
  }
}

.control-play-solid {
  &:after {
    content: $control-play-solid;
  }
}

.control-pause {
  &:after {
    content: $control-pause;
  }
}

.control-pause-solid {
  &:after {
    content: $control-pause-solid;
  }
}

.control-stop {
  &:after {
    content: $control-stop;
  }
}

.control-stop-solid {
  &:after {
    content: $control-stop-solid;
  }
}

.control-fast-forward {
  &:after {
    content: $control-fast-forward;
  }
}

.control-fast-forward-solid {
  &:after {
    content: $control-fast-forward-solid;
  }
}

.control-next {
  &:after {
    content: $control-next;
  }
}

.control-next-solid {
  &:after {
    content: $control-next-solid;
  }
}

.control-eject {
  &:after {
    content: $control-eject;
  }
}

.control-eject-solid {
  &:after {
    content: $control-eject-solid;
  }
}

.volume-off {
  &:after {
    content: $volume-off;
  }
}

.volume-off-solid {
  &:after {
    content: $volume-off-solid;
  }
}

.volume-low {
  &:after {
    content: $volume-low;
  }
}

.volume-low-solid {
  &:after {
    content: $volume-low-solid;
  }
}

.volume-medium {
  &:after {
    content: $volume-medium;
  }
}

.volume-medium-solid {
  &:after {
    content: $volume-medium-solid;
  }
}

.volume-max {
  &:after {
    content: $volume-max;
  }
}

.volume-max-solid {
  &:after {
    content: $volume-max-solid;
  }
}

.newspaper {
  &:after {
    content: $newspaper;
  }
}

.rss-feed-solid {
  &:after {
    content: $rss-feed-solid;
  }
}

.file-text-picture {
  &:after {
    content: $file-text-picture;
  }
}

.file-checklist-edit {
  &:after {
    content: $file-checklist-edit;
  }
}

.logo-youtube-clip {
  &:after {
    content: $logo-youtube-clip;
  }
}

.logo-slide-share {
  &:after {
    content: $logo-slide-share;
  }
}

.presentation-code {
  &:after {
    content: $presentation-code;
  }
}

.programming-website {
  &:after {
    content: $programming-website;
  }
}

.video-meeting-square {
  &:after {
    content: $video-meeting-square;
  }
}

.podcast {
  &:after {
    content: $podcast;
  }
}

.logo-instagram {
  &:after {
    content: $logo-instagram;
  }
}

.arrow-right-tail {
  &:after {
    content: $arrow-right-tail;
  }
}

.print {
  &:after {
    content: $print;
  }
}

.play-button-solid {
  &:after {
    content: $play-button-solid;
  }
}

.logo-wechat {
  &:after {
    content: $logo-wechat;
  }
}
