@font-face {
  font-family: 'Cognizant-Icons';
  src:
    url('fonts/Cognizant-Icons.ttf?yauy4k') format('truetype'),
    url('fonts/Cognizant-Icons.woff?yauy4k') format('woff'),
    url('fonts/Cognizant-Icons.svg?yauy4k#Cognizant-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Cognizant-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation-drawer:before {
  content: "\e945";
}
.arrow-box-up:before {
  content: "\e902";
}
.arrow-down:before {
  content: "\e903";
}
.arrow-down-solid:before {
  content: "\e904";
}
.arrow-left:before {
  content: "\e905";
}
.arrow-left-solid:before {
  content: "\e906";
}
.arrow-right:before {
  content: "\e907";
}
.arrow-solid-right:before {
  content: "\e908";
}
.arrow-up:before {
  content: "\e909";
}
.arrow-up-solid:before {
  content: "\e90a";
}
.download:before {
  content: "\e920";
}
.upload:before {
  content: "\e960";
}
.logout:before {
  content: "\e941";
}
.launch:before {
  content: "\e935";
}
.arrow-right-tail:before {
  content: "\e98b";
}
.synchronize:before {
  content: "\e95b";
}
.synchronize-2:before {
  content: "\e95c";
}
.close:before {
  content: "\e91a";
}
.add-circle:before {
  content: "\e901";
}
.subtract-circle:before {
  content: "\e95a";
}
.remove-circle-solid:before {
  content: "\e94f";
}
.remove-circle:before {
  content: "\e94e";
}
.check-circle:before {
  content: "\e916";
}
.check-circle-2:before {
  content: "\e917";
}
.check-box:before {
  content: "\e915";
}
.expand-diagonal:before {
  content: "\e967";
}
.search:before {
  content: "\e953";
}
.zoom-in:before {
  content: "\e965";
}
.zoom-out:before {
  content: "\e966";
}
.window-search-engine:before {
  content: "\e964";
}
.report-problem-circle:before {
  content: "\e950";
}
.report-problem-triangle:before {
  content: "\e951";
}
.help-circle:before {
  content: "\e932";
}
.cog:before {
  content: "\e91c";
}
.home:before {
  content: "\e934";
}
.pencil:before {
  content: "\e948";
}
.layers:before {
  content: "\e936";
}
.view:before {
  content: "\e962";
}
.bin:before {
  content: "\e90d";
}
.star:before {
  content: "\e959";
}
.bookmark:before {
  content: "\e910";
}
.bookmark-2:before {
  content: "\e98f";
}
.bookmark-2-solid:before {
  content: "\e990";
}
.toolbox:before {
  content: "\e95e";
}
.lock-close:before {
  content: "\e93c";
}
.lock-open:before {
  content: "\e93d";
}
.filter:before {
  content: "\e928";
}
.shopping-cart:before {
  content: "\e957";
}
.book-open:before {
  content: "\e90f";
}
.bubble-chat-typing:before {
  content: "\e912";
}
.calendar:before {
  content: "\e913";
}
.camera:before {
  content: "\e914";
}
.picture:before {
  content: "\e94a";
}
.clock:before {
  content: "\e918";
}
.clock-solid:before {
  content: "\e991";
}
.clock-2:before {
  content: "\e919";
}
.clock-2-solid:before {
  content: "\e992";
}
.cloud:before {
  content: "\e91b";
}
.file-acrobat:before {
  content: "\e923";
}
.file-favorite-star:before {
  content: "\e924";
}
.file-new:before {
  content: "\e925";
}
.file-view:before {
  content: "\e926";
}
.file-checklist-edit:before {
  content: "\e983";
}
.file-text-picture:before {
  content: "\e982";
}
.file-word:before {
  content: "\e927";
}
.folder:before {
  content: "\e929";
}
.folder-add:before {
  content: "\e92a";
}
.folder-view:before {
  content: "\e92b";
}
.globe:before {
  content: "\e92d";
}
.headphone:before {
  content: "\e931";
}
.link:before {
  content: "\e939";
}
.location-pin:before {
  content: "\e93a";
}
.location-pin-solid:before {
  content: "\e93b";
}
.map-pin:before {
  content: "\e942";
}
.email:before {
  content: "\e921";
}
.logo-facebook:before {
  content: "\e93e";
}
.logo-linkedin:before {
  content: "\e93f";
}
.logo-youtube-clip:before {
  content: "\e984";
}
.logo-instagram:before {
  content: "\e98a";
}
.logo-twitter-bird:before {
  content: "\e940";
}
.logo-slide-share:before {
  content: "\e985";
}
.logo-wechat:before {
  content: "\e98e";
}
.rss-feed:before {
  content: "\e952";
}
.rss-feed-solid:before {
  content: "\e981";
}
.share:before {
  content: "\e955";
}
.share-solid:before {
  content: "\e956";
}
.account-group:before {
  content: "\e900";
}
.network-user:before {
  content: "\e947";
}
.person:before {
  content: "\e949";
}
.person-solid:before {
  content: "\e993";
}
.group-add:before {
  content: "\e930";
}
.video-camera:before {
  content: "\e961";
}
.video-meeting-square:before {
  content: "\e988";
}
.play-button-solid:before {
  content: "\e98d";
}
.play-button:before {
  content: "\e94b";
}
.control-previous:before {
  content: "\e968";
}
.control-previous-solid:before {
  content: "\e974";
}
.control-rewind:before {
  content: "\e969";
}
.control-rewind-solid:before {
  content: "\e975";
}
.control-play:before {
  content: "\e96a";
}
.control-play-solid:before {
  content: "\e976";
}
.control-pause:before {
  content: "\e96b";
}
.control-pause-solid:before {
  content: "\e977";
}
.control-stop:before {
  content: "\e96c";
}
.control-stop-solid:before {
  content: "\e978";
}
.control-fast-forward:before {
  content: "\e96d";
}
.control-fast-forward-solid:before {
  content: "\e979";
}
.control-next:before {
  content: "\e96e";
}
.control-next-solid:before {
  content: "\e97a";
}
.control-eject:before {
  content: "\e96f";
}
.control-eject-solid:before {
  content: "\e97b";
}
.volume-off:before {
  content: "\e970";
}
.volume-off-solid:before {
  content: "\e97c";
}
.volume-low:before {
  content: "\e971";
}
.volume-low-solid:before {
  content: "\e97d";
}
.volume-medium:before {
  content: "\e972";
}
.volume-medium-solid:before {
  content: "\e97e";
}
.volume-max:before {
  content: "\e973";
}
.volume-max-solid:before {
  content: "\e97f";
}
.expand:before {
  content: "\e922";
}
.newspaper:before {
  content: "\e980";
}
.programming-website:before {
  content: "\e987";
}
.podcast:before {
  content: "\e989";
}
.print:before {
  content: "\e98c";
}
.barcode-scan:before {
  content: "\e90c";
}
.leaf:before {
  content: "\e937";
}
.lightbulb:before {
  content: "\e938";
}
.medical-box:before {
  content: "\e943";
}
.gauge:before {
  content: "\e92c";
}
.qr-code:before {
  content: "\e94d";
}
.truck:before {
  content: "\e95f";
}
.box:before {
  content: "\e911";
}
.bank-notes:before {
  content: "\e90b";
}
.credit-card:before {
  content: "\e91f";
}
.mobile-phone-portrait:before {
  content: "\e944";
}
.tablet-ipad:before {
  content: "\e95d";
}
.computer-screen:before {
  content: "\e91e";
}
.smartwatch:before {
  content: "\e958";
}
.server:before {
  content: "\e954";
}
.computer-bug:before {
  content: "\e91d";
}
.window-code:before {
  content: "\e963";
}
.bluetooth:before {
  content: "\e90e";
}
.network-signal:before {
  content: "\e946";
}
.presentation-code:before {
  content: "\e986";
}
.projector-screen:before {
  content: "\e94c";
}
.graph-bar:before {
  content: "\e92e";
}
.graph-pie:before {
  content: "\e92f";
}
.hierarchy:before {
  content: "\e933";
}
