$icomoon-font-family: "Cognizant-Icons" !default;
$icomoon-font-path: "fonts" !default;

$navigation-drawer: "\e945";
$arrow-box-up: "\e902";
$arrow-down: "\e903";
$arrow-down-solid: "\e904";
$arrow-left: "\e905";
$arrow-left-solid: "\e906";
$arrow-right: "\e907";
$arrow-solid-right: "\e908";
$arrow-up: "\e909";
$arrow-up-solid: "\e90a";
$download: "\e920";
$upload: "\e960";
$logout: "\e941";
$launch: "\e935";
$arrow-right-tail: "\e98b";
$synchronize: "\e95b";
$synchronize-2: "\e95c";
$close: "\e91a";
$add-circle: "\e901";
$subtract-circle: "\e95a";
$remove-circle-solid: "\e94f";
$remove-circle: "\e94e";
$check-circle: "\e916";
$check-circle-2: "\e917";
$check-box: "\e915";
$expand-diagonal: "\e967";
$search: "\e953";
$zoom-in: "\e965";
$zoom-out: "\e966";
$window-search-engine: "\e964";
$report-problem-circle: "\e950";
$report-problem-triangle: "\e951";
$help-circle: "\e932";
$cog: "\e91c";
$home: "\e934";
$pencil: "\e948";
$layers: "\e936";
$view: "\e962";
$bin: "\e90d";
$star: "\e959";
$bookmark: "\e910";
$bookmark-2: "\e98f";
$bookmark-2-solid: "\e990";
$toolbox: "\e95e";
$lock-close: "\e93c";
$lock-open: "\e93d";
$filter: "\e928";
$shopping-cart: "\e957";
$book-open: "\e90f";
$bubble-chat-typing: "\e912";
$calendar: "\e913";
$camera: "\e914";
$picture: "\e94a";
$clock: "\e918";
$clock-solid: "\e991";
$clock-2: "\e919";
$clock-2-solid: "\e992";
$cloud: "\e91b";
$file-acrobat: "\e923";
$file-favorite-star: "\e924";
$file-new: "\e925";
$file-view: "\e926";
$file-checklist-edit: "\e983";
$file-text-picture: "\e982";
$file-word: "\e927";
$folder: "\e929";
$folder-add: "\e92a";
$folder-view: "\e92b";
$globe: "\e92d";
$headphone: "\e931";
$link: "\e939";
$location-pin: "\e93a";
$location-pin-solid: "\e93b";
$map-pin: "\e942";
$email: "\e921";
$logo-facebook: "\e93e";
$logo-linkedin: "\e93f";
$logo-youtube-clip: "\e984";
$logo-instagram: "\e98a";
$logo-twitter-bird: "\e940";
$logo-slide-share: "\e985";
$logo-wechat: "\e98e";
$rss-feed: "\e952";
$rss-feed-solid: "\e981";
$share: "\e955";
$share-solid: "\e956";
$account-group: "\e900";
$network-user: "\e947";
$person: "\e949";
$person-solid: "\e993";
$group-add: "\e930";
$video-camera: "\e961";
$video-meeting-square: "\e988";
$play-button-solid: "\e98d";
$play-button: "\e94b";
$control-previous: "\e968";
$control-previous-solid: "\e974";
$control-rewind: "\e969";
$control-rewind-solid: "\e975";
$control-play: "\e96a";
$control-play-solid: "\e976";
$control-pause: "\e96b";
$control-pause-solid: "\e977";
$control-stop: "\e96c";
$control-stop-solid: "\e978";
$control-fast-forward: "\e96d";
$control-fast-forward-solid: "\e979";
$control-next: "\e96e";
$control-next-solid: "\e97a";
$control-eject: "\e96f";
$control-eject-solid: "\e97b";
$volume-off: "\e970";
$volume-off-solid: "\e97c";
$volume-low: "\e971";
$volume-low-solid: "\e97d";
$volume-medium: "\e972";
$volume-medium-solid: "\e97e";
$volume-max: "\e973";
$volume-max-solid: "\e97f";
$expand: "\e922";
$newspaper: "\e980";
$programming-website: "\e987";
$podcast: "\e989";
$print: "\e98c";
$barcode-scan: "\e90c";
$leaf: "\e937";
$lightbulb: "\e938";
$medical-box: "\e943";
$gauge: "\e92c";
$qr-code: "\e94d";
$truck: "\e95f";
$box: "\e911";
$bank-notes: "\e90b";
$credit-card: "\e91f";
$mobile-phone-portrait: "\e944";
$tablet-ipad: "\e95d";
$computer-screen: "\e91e";
$smartwatch: "\e958";
$server: "\e954";
$computer-bug: "\e91d";
$window-code: "\e963";
$bluetooth: "\e90e";
$network-signal: "\e946";
$presentation-code: "\e986";
$projector-screen: "\e94c";
$graph-bar: "\e92e";
$graph-pie: "\e92f";
$hierarchy: "\e933";

